<div class="visa-platinum">
    <div class="card-container">
    <div class="card-info">
      <h2 class="card-title">Visa Platinum</h2>
      <p class="card-description">
        Для совершения платежей, переводов, покупок и удобных путешествий.
      </p>
      <div class="card-buttons">
        <button class="btn-primary">Оформить карту</button>
      </div>
    </div>
    <div class="card-image">
      <img class="card" src="../../../assets/icons/platium.png" alt="Visa Gold" />
    </div>
  </div>

  <div class="features-container">
    <div class="feature-card">
          <div class="">
         <h3>Посещение бизнес залов</h3>
      <p>Наслаждайтесь VIP-атмосферой бизнес-залов бесплатно до трех раз в год в большинстве аэропортов.</p>
  </div>  
      <img src="../../../assets/icons/business-lounges-at-the-airport 1.png" alt="Посещение бизнес залов" class="feature-icon">
   
</div>
    <div class="feature-card"> 
        <div class=""> 
             <h3>Обслуживание</h3>
      <p>Первый год — бесплатно. Со второго года и далее — бесплатно при расходах от 300 сомони в месяц, или 20 сомони в месяц при меньших тратах.</p>
    </div>
      <img src="../../../assets/icons/обслуживание.png" alt="Обслуживание" class="feature-icon">
 
</div>  
    <div class="feature-card">
         <div class=""> 
            <h3>Удобное снятие</h3>
      <p>Снимайте деньги без комиссии в наших банкоматах.</p>
    </div>
      <img src="../../../assets/icons/удобное снятие.png" alt="Удобное снятие" class="feature-icon">
   
</div> 
    <div class="feature-card">
       <div class="">
         <h3>Мультивалютный счет</h3>
      <p>Управляйте средствами в разных валютах на одном счете.</p>
    </div>  
    <img src="../../../assets/icons/счет.png" alt="Мультивалютный счет" class="feature-icon">
 
</div> 
  </div>
  
  
  <div class="container">
    <h1>Тарифы и условия</h1>
    <div class="btnCards">
        <button (click)="selectTab('services')" [class.active]="selectedTab === 'services'">Услуги</button>
        <button (click)="selectTab('limits')" [class.active]="selectedTab === 'limits'">Лимиты</button>
        <button (click)="selectTab('operations')" [class.active]="selectedTab === 'operations'">Операции</button>
        <button (click)="selectTab('documents')" [class.active]="selectedTab === 'documents'">Полезные документы</button>
    </div>
    <div *ngIf="selectedTab==='services'" class="content">
        <div class="info-container">
            <div class="info-box">
              <div class="info-title">Обслуживание</div>
              <div class="info-title">
                Бесплатно с первого года
                <div class="info-detail">Со второго года — 5 сомони в месяц</div>
              </div>
            </div>
            <div class="info-box">
              <div class="info-title">Срок</div>
              <div class="info-title">До 7 лет</div>
            </div>
            <div class="info-box">
              <div class="info-title">Стоимость</div>
              <div class="info-title">
                20с первая карта<br>
                <div class="info-detail">Дополнительная карта — 50 сомони</div>
              </div>
            </div>
            <div class="info-box">
              <div class="info-title">Тип счета</div>
              <div class="info-title">Мультивалютный (TJS, USD, EUR)</div>
            </div>
            <div class="info-box">
              <div class="info-title">SMS-банкинг</div>
              <div class="info-title">Бесплатно</div>
            </div>
          </div>
          
          
          
    
    </div>

    <div *ngIf="selectedTab==='limits'" class="content">
    <div class="info-container">
      <div class="info-box-limits">
        <div class="info-title">Получение наличных в банкомате и 
          наших точках</div>
        <div class="info-title"> 
        <div class="info-detail">Счёт TJS</div>
        25 000
         
        </div>
        <div class="info-title"> 
          <div class="info-detail">Счёт RUB</div>
          150 000
         
        </div>
        <div class="info-title">
             <div class="info-detail">Счёт USD</div>
             2 000
       
        </div>
      </div>

      <div class="info-box-limits">
        <div class="info-title">Оплата товаров и услуг</div>
        <div class="info-title"> 
   
        55 000
         
        </div>
        <div class="info-title"> 
     
          20 000
         
        </div>
        <div class="info-title">
     
             6 000
       
        </div>
      </div>

      <div class="info-box-limits">
        <div class="info-title">Исходящие переводы с карты на карту</div>
        <div class="info-title"> 
       
        15 000
         
        </div>
        <div class="info-title"> 
        
          55 000
         
        </div>
        <div class="info-title">
        
             6 000
       
        </div>
      </div>

   
    </div>
    </div>
    <div *ngIf="selectedTab==='operations'" class="content">
        <div class="info-container">
            <div class="info-box">
              <div class="info-title">Получение наличных в наших банкоматах</div>
              <div class="info-title">
                0%
              
              </div>
            </div>
            <div class="info-box">
              <div class="info-title">Получение наличных в банкоматах других 
                банков Таджикистана</div>
              <div class="info-title">0%  <div class="info-detail">при снятии денег от 500 и более сомони</div></div>
            </div>
            <div class="info-box">
              <div class="info-title">Стоимость</div>
              <div class="info-title">
                20с первая карта<br>
                <div class="info-detail">Дополнительная карта — 50 сомони</div>
              </div>
            </div>
            <div class="info-box">
              <div class="info-title">Получение наличных в банкоматах зарубежных 
                банков</div>
              <div class="info-title">2% + 20 сомони</div>
            </div>
            <div class="info-box">
              <div class="info-title">Оплата товаров и услуг</div>
              <div class="info-title">0%</div>
            </div>
            <div class="info-box">
                <div class="info-title">Перевод между картами Коммерцбанка в 
                    приложении Favri
                     </div>
                <div class="info-title">0%</div>
              </div>
          </div>
    </div>

    <div *ngIf="selectedTab==='documents'" class="content">
         <div class="info-container">
          <div class="info-box-documents">
            <img src="../../../assets/icons/pdficon.png" alt="">
            <p class="info-title">Заявление на перевыпуск карты</p>
          </div>

          <div class="info-box-documents">
            <img src="../../../assets/icons/pdficon.png" alt="">
            <p class="info-title">Страхование, защита покупок, глобальная поддержка Visa</p>
          </div>

          <div class="info-box-documents">
            <img src="../../../assets/icons/pdficon.png" alt="">
            <p class="info-title">Сведения об ограничениях при оплате</p>
          </div>

          <div class="info-box-documents">
            <img src="../../../assets/icons/pdficon.png" alt="">
            <p class="info-title">Тарифы на обслуживание банковской платёжной карты МПС Visa</p>
          </div>

         </div>

    </div>





  </div>

  <div class="application-form-container">
    <h2 class="form-title">Заявка на карту</h2>
    <p class="form-subtitle">Оставьте свои контакты, и мы обязательно с вами свяжемся</p>
  <div class="form">
    <form (ngSubmit)="onSubmit()" #applicationForm="ngForm">
      <div class="form-group">
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="error">
          Это поле обязательно для заполнения
        </div> 
        <input 
          type="text" 
          id="phone" 
          placeholder="Мобильный телефон" 
          class="form-control" 
          required 
          [(ngModel)]="model.phone" 
          name="phone"
          #phone="ngModel">
       
      </div>
  
      <div class="form-group">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
          Это поле обязательно для заполнения
        </div> 
        <input 
          type="text" 
          id="name" 
          placeholder="ФИО" 
          class="form-control" 
          required 
          [(ngModel)]="model.name" 
          name="name"
          #name="ngModel">
       
      </div>
  
      <div class="form-group">
      <div *ngIf="branch.invalid && (branch.dirty || branch.touched)" class="error">
          Это поле обязательно для заполнения
        </div> 
         <input 
          type="text" 
          id="branch" 
          placeholder="Выберите отделение банка" 
          class="form-control" 
          required 
          [(ngModel)]="model.branch" 
          name="branch"
          #branch="ngModel">
        
      </div>
      <div class="form-group"> 
      <button type="submit" class="btn-primary" [disabled]="applicationForm.invalid">Оформить карту</button>
   </div>
   </form>
  
    <p class="form-disclaimer">
        Нажимая «Получить», вы соглашаетесь на
      <a href="#">обработку персональных данных</a>.
    </p>
  </div>

</div>
  


  <div class="faq-container">
    <h2 class="faq-title">Часто задаваемые вопросы</h2>
    <div *ngFor="let faq of faqs; let i = index" class="faq-item">
      <div class="faq-question" (click)="toggleFaq(i)">
        <span>{{ faq.question }}</span>
        <span class="faq-icon">{{ selectedFaqIndex === i ? '-' : '+' }}</span>
      </div>
      <div *ngIf="selectedFaqIndex === i" class="faq-answer">
        {{ faq.answer }}
      </div>
    </div>
  </div>

</div>
