<!-- src/app/pages/contact/contact.component.html -->
<div class="contact-page">
  <div class="page-header">
    <h1>{{ 'contactsPage.title' | translate }}</h1>
    <p>{{ 'contactsPage.subtitle' | translate }}</p>
  </div>

  <!-- Сетка с контактными блоками -->
  <div class="contact-grid">
    <!-- Динамический контент, перевод не требуется -->
    <div class="contact-card" *ngFor="let block of contactBlocks">
      <div class="card-header"> 
        <h2>{{ block.title }}</h2>
        <img [src]="imageUrl+block.upload_file" [alt]="block.title" class="card-icon" />
      </div>
      <div class="card-body">
        <div class="contact-item" *ngFor="let detail of block.data">
          <img *ngIf="detail.upload_file" [src]="imageUrl+detail.upload_file" [alt]="detail.title" class="item-icon" />
          <div>
            <p class="item-title">{{ detail.title }}</p>
            <p class="item-description">{{ detail.Description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Контейнер для Google Карты -->

      <div class="map-wrapper">
        <!-- 
          Используем наш переиспользуемый компонент.
          - [points]: передаем массив с одной точкой.
          - [center]: можно передать те же координаты, чтобы карта сразу центрировалась на офисе.
          - [zoom]: можно сделать побольше (например, 16), чтобы сразу видеть офис крупным планом.
        -->
        
        <app-yandex-map 
          [points]="headOfficePoint"
          [center]="headOfficePoint.length > 0 ? headOfficePoint[0].geometry.coordinates : [38.56, 68.77]"
          [zoom]="16"
        ></app-yandex-map>
      </div>
    </div>
