<!-- src/app/pages/contact/contact.component.html -->
<div class="contact-page">
  <div class="page-header">
    <h1>{{ 'CONTACTS_PAGE.TITLE' | translate }}</h1>
    <p>{{ 'CONTACTS_PAGE.SUBTITLE' | translate }}</p>
  </div>

  <!-- Сетка с контактными блоками -->
  <div class="contact-grid">
    <!-- Динамический контент, перевод не требуется -->
    <div class="contact-card" *ngFor="let block of contactBlocks">
      <div class="card-header">
        <h2>{{ block.title }}</h2>
        <img [src]="imageUrl + block.upload_file" [alt]="block.title" class="card-icon" />
      </div>
      <div class="card-body">
        <div class="contact-item" *ngFor="let detail of block.data">
          <img
            *ngIf="detail.upload_file"
            [src]="imageUrl + detail.upload_file"
            [alt]="detail.title"
            class="item-icon"
          />
          <div>
            <p class="item-title">{{ detail.title }}</p>
            <p class="item-description">{{ detail.Description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Контейнер для Google Карты -->

  <div class="map-wrapper">
    <app-yandex-map
      [points]="headOfficePoint"
      [center]="headOfficePoint.length > 0 ? headOfficePoint[0].geometry.coordinates : [38.56, 68.77]"
      [zoom]="16"
    ></app-yandex-map>
  </div>
  <div class="form-container" id="application-form">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <h2>{{ 'FORMS.CONTACT.TITLE' | translate }}</h2>
      <p>{{ 'FORMS.CONTACT.SUBTITLE' | translate }}</p>

      <!-- Имя -->
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [placeholder]="('FORMS.PLACEHOLDERS.FULL_NAME' | translate) + ' *'"
          formControlName="client_name"
        />
        <div *ngIf="client_name?.invalid && client_name?.touched" class="error">
          {{ 'FORMS.ERROR.REQUIRED' | translate }}
        </div>
      </div>

      <!-- Телефон -->
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [placeholder]="('FORMS.PLACEHOLDERS.PHONE' | translate) + ' *'"
          formControlName="phone"
        />
        <div *ngIf="phone?.invalid && phone?.touched" class="error">
          <span *ngIf="phone?.errors?.['required']">{{ 'FORMS.ERROR.REQUIRED' | translate }}</span>
          <span *ngIf="phone?.errors?.['pattern']">{{ 'FORMS.ERRORS.ONLYDIGITS' | translate }}</span>
        </div>
      </div>

      <!-- Кастомный селектор для темы -->
      <div class="form-group">
        <div class="custom-dropdown" #customDropdown>
          <div
            class="dropdown-selected form-control"
            (click)="toggleDropdown($event)"
            (keydown.enter)="toggleDropdown($event)"
            (keydown.space)="toggleDropdown($event)"
            tabindex="0"
            role="button"
            [attr.aria-expanded]="dropdownOpen"
            aria-haspopup="listbox"
            [class.is-invalid]="contact_subject_id?.invalid && contact_subject_id?.touched"
          >
            {{ selectedSubjectName }}
          </div>
          <div class="dropdown-options" *ngIf="dropdownOpen">
            <div
              class="dropdown-option"
              *ngFor="let subject of subjects"
              (click)="selectSubject(subject)"
              (keydown.enter)="selectSubject(subject)"
              (keydown.space)="selectSubject(subject)"
              tabindex="0"
              role="option"
              [attr.aria-selected]="subject.name === selectedSubjectName"
            >
              <p>{{ subject.name }}</p>
            </div>
          </div>
        </div>
        <div *ngIf="contact_subject_id?.invalid && contact_subject_id?.touched" class="error">
          {{ 'FORMS.ERRORS.SELECTSUBJECT' | translate }}
        </div>
      </div>

      <!-- Текстовое поле для вопроса -->
      <div class="form-group">
        <textarea
          class="form-control"
          [placeholder]="('FORMS.PLACEHOLDERS.QUESTION' | translate) + ' *'"
          rows="5"
          formControlName="question"
        ></textarea>
        <div *ngIf="question?.invalid && question?.touched" class="error">
          <span *ngIf="question?.errors?.['required']">{{ 'FORMS.ERRORS.REQUIRED' | translate }}</span>
          <span *ngIf="question?.errors?.['minlength']">{{ 'FORMS.ERRORS.MINLENGTH' | translate: { min: 10 } }}</span>
        </div>
      </div>

      <!-- Кнопка отправки -->
      <button type="submit" class="submit-button" [disabled]="contactForm.invalid || isSubmitting">
        <span *ngIf="!isSubmitting">{{ 'BUTTONS.SEND' | translate }}</span>
        <span *ngIf="isSubmitting">{{ 'BUTTONS.SENDING' | translate }}...</span>
      </button>
    </form>
  </div>
</div>
