<div class="carousel">
  @if(galleries.length > 0) {
    <div  class="carousel-slides" [style.transform]="getTransform()">
      @for(slide of galleries; track slide) {
        <div class="carousel-item" >
          <div class="carousel-content">
            <h2>{{ slide.title }}</h2>
            <p>{{ slide.description }}</p>
            @if(slide.show_button) {
              <button  (click)="onLearnMore(slide.route)" [routerLink]="[slide.route]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                {{ 'BUTTONS.MORE_DETAILS' | translate }}
              </button>
            }
           
          </div>
          <img [src]="imageUrl + slide.upload_file" [alt]="slide.title" />
        </div>
      }
    
    </div>
  }
  

  <div class="carousel-indicators">
    @for (slide of galleries; track $index) {
      <span
        class="INDICATOR"
        [class.active]="$index === currentSlide"
        (click)="goToSlide($index)"
      ></span>
    }
    
  </div>

  <button class="carousel-control prev" (click)="prevSlide()">
    <img src="../../../assets/icons/arrow-right.svg" [alt]="'ALT.PREVIOUS_SLIDE' | translate">
  </button>
  <button class="carousel-control next" (click)="nextSlide()">
    <img src="../../../assets/icons/arrow-right.svg" [alt]="'ALT.NEXT_SLIDE' | translate">
  </button>
</div>
