.carousel {
  position: relative;
  width: 90%;
  margin:35px auto;
  overflow: hidden;
  background: url(../../../assets/icons/Frame\ 8.png);
  background-repeat: no-repeat;
  border-radius: 26px;
  background-size: cover; /* Исправлено на cover для полного покрытия */
}

.carousel-slides {
  display: flex; /* Используем flex вместо grid для правильной работы карусели */
  transition: transform 0.5s ease;
  align-items: center;
}

.carousel-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  color: white;
  flex: 0 0 86%; /* Каждому слайду задаем фиксированную ширину 100% */

  @media (max-width: 1080px) {
   display: block;
   padding:0 4% ;
   .carousel-content{
  width: 100%;
    margin: auto;
   }

  }

  .carousel-content {
    width: 55%;
    padding: 90px 0;

    h2 {
      font-weight: 800;
      font-size: 44px;

      @media (max-width: 1000px) {
        font-size: 32px;
      }

      @media (max-width: 800px) {
        font-size: 22px;
        font-weight: 700;
      }
    }

    p {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 20px;
      @media (max-width: 800px) {
        font-size: 16px;
        font-weight: 400;
      }
    }

    button {
      padding: 15px 50px;
    color: white;
      background-color: #00B06C;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {   background-color: white;
      color: #00B06C;
     
    }
  }

  img {
    align-self: flex-end;
    width: 40%; /* Уменьшено с 525px для лучшей адаптивности */
    height: auto; /* Сохраняем пропорции */
    object-fit: contain; /* Обеспечиваем, чтобы изображение не растягивалось */
    position: relative;
    bottom: -25px;
    @media (max-width: 1000px) {
      /* Вы можете добавить дополнительные стили для адаптивности здесь */
      width: 100%;
      margin: auto;
      padding:0 0 25px ;
    }
  }
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #FFFFFF59;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50px;

  &.prev {
    left: 10px;
  }

  &.next {
    right: 10px;
  }
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;

  .indicator {
    height: 3px;
    width: 21px;
    border-radius: 3px;
    background-color: #FFFFFF78;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .indicator.active {
    background-color: white;
  }
}
