<div class="carousel">
  <div class="carousel-slides" [style.transform]="getTransform()">
    <div class="carousel-item" *ngFor="let slide of slides">
      <div class="carousel-content">
        <h2>{{ slide.title }}</h2>
        <p>{{ slide.description }}</p>
        <button (click)="onLearnMore()">{{  "More details"|translate}}</button>
      </div>
      <img [src]="slide.image" alt="Car">
    </div>
  </div>
  <button class="carousel-control prev" (click)="prevSlide()">&#10094;</button>
  <button class="carousel-control next" (click)="nextSlide()">&#10095;</button>
</div>
<!-- @media (max-width: 1000px){
  width: 805;
} -->