<div class="tenderDetail">
  <div class="card-container">
    <div class="card-info">
      <!-- Динамические данные -->
      <h2 class="card-title">{{ tenderDetailData.name }}</h2>
      <p class="card-description">{{ tenderDetailData.start_date }}</p>
    </div>
  </div>

  <div class="tender-detail-layout">
    <!-- Левая колонка (основное содержимое) -->
    <div class="tender-main-column">
      <!-- Карточка с описанием тендера (динамические данные) -->
      <div class="tender-card tender-description-card">
        @for (item of processedTenderInfo; track $index) {
          <div>
            <h2>{{ item.title }}</h2>

            @for (paragraph of item.paragraphs; track $index) {
              <div class="description-paragraph subtitle">
                {{ paragraph }}
              </div>
            }
          </div>
        }
      </div>

      <!-- Карточка с документацией (под основной) -->
      <div class="tender-card tender-document-card">
        <img src="../../../assets/icons/файл.png" [alt]="'alt.pdfIcon' | translate" class="pdf-icon" />
        <a [href]="imageUrl + tenderDetailData.upload_file" class="document-link">{{
          'TENDER_DETAILS.DOCUMENTATION_LINK' | translate
        }}</a>
      </div>
    </div>

    <!-- Правая колонка (сайдбар с метаданными) -->
    <div class="tender-sidebar-column">
      <div class="tender-card tender-metadata-card">
        <div class="metadata-item">
          <span class="label">{{ 'TENDER_DETAILS.META.START_DATE' | translate }}</span>
          <span class="value">{{ tenderDetailData.start_date }}</span>
        </div>
        <div class="metadata-item">
          <span class="label">{{ 'TENDER_DETAILS.META.END_DATE' | translate }}</span>
          <span class="value">{{ tenderDetailData.end_date }}</span>
        </div>
        <!-- <div class="metadata-item" *ngIf="tenderDetailData.responsible_person">
          <span class="label">{{ 'tenderDetails.meta.responsiblePerson' | translate }}</span>
          <span class="value">{{tenderDetailData.responsible_person}}</span>
        </div> -->
        <div class="metadata-item">
          <span class="label">{{ 'TENDER_DETAILS.META.PHONE_NUMBER' | translate }}</span>
          <a [href]="'tel:' + tenderDetailData.phone_number" class="value">{{ tenderDetailData.phone_number }}</a>
        </div>
        <div class="metadata-item">
          <span class="label">{{ 'TENDER_DETAILS.META.EMAIL_ADDRESS' | translate }}</span>
          <a [href]="'mailto:' + tenderDetailData.email" class="value">{{ tenderDetailData.email }}</a>
        </div>
        <div class="metadata-item">
          <span class="label">{{ 'TENDER_DETAILS.META.STATUS_LABEL' | translate }}</span>
          <span class="value">
            <span
              class="status-badge"
              [ngClass]="{
                'status-open': tenderDetailData.status === 'open',
                'status-completed': tenderDetailData.status === 'close',
              }"
            >
              {{
                tenderDetailData.status === 'open'
                  ? ('TENDER_DETAILS.STATUS.OPEN' | translate)
                  : ('TENDER_DETAILS.STATUS.CLOSED' | translate)
              }}
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
