@import '../../../../../styles/variables.scss';

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .faq-title {
    @include typography(42); 
    font-weight: 700;
    color: $color-text;
    @include section-gap('margin-top');
    margin-bottom: 20px;
  }

  .faq-item {
    border-radius: 12px;
    box-shadow: 0px 4px 20px 0px rgba(175, 175, 175, 0.18);
    padding: 20px 30px;
    background-color: #fff;

    @media (max-width: $mobile) {
      padding: 20px 22px; 
    }
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    @include typography(18);
    font-weight: 500;
    gap: 20px;
    color: $color-text;

    .faq-icon {
      @include typography(42); 
      font-weight: 200;
      color: $color-text; 
    }

    .title {
      font-weight: 400;
      @include typography(18);
    }
  }

  .faq-answer {
    margin-top: 10px;
    @include typography(16);
    color: $color-grey;
    line-height: 1.4;

  }
}
