<div class="form-container" id="simple-application-form">
  <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
    <div class="">
      <h2>{{ titleKey | translate }}</h2>
      <p>{{ subtitleKey | translate }}</p>
    </div>

    <div class="">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [placeholder]="('FORMS.PLACEHOLDERS.FULL_NAME' | translate) + ' *'"
          formControlName="client_name"
        />
        @if (client_name?.invalid && client_name?.touched) {
          <div class="error">
            {{ 'FORMS.ERRORS.REQUIRED' | translate }}
          </div>
        }
      </div>

      <div class="form-group">
        <input
            type="text"
            class="form-control"
            [placeholder]="('FORMS.PLACEHOLDERS.PHONE' | translate) + ' *'"
            formControlName="phone"
            inputmode="numeric"
            pattern="[0-9]*"
            (input)="onPhoneInput($event)"
          />
        @if (phone?.invalid && phone?.touched) {
          <div class="error">
            {{ 'FORMS.ERRORS.REQUIRED' | translate }}
          </div>
        }
      </div>

      <button type="submit" class="submit-button" [disabled]="applicationForm.invalid || isSubmitting">
        @if (!isSubmitting) {
          <span>{{ 'BUTTONS.SEND' | translate }}</span>
        } @else {
          <span>{{ 'BUTTONS.SENDING' | translate }}...</span>
        }
      </button>

      <div class="privacy-policy">
        {{ 'FORMS.PRIVACY_POLICY_PREFIX' | translate }}
        <a href="../../../assets/files/public_offer.pdf" target="_blank" rel="noopener noreferrer">{{ 'COMMON.CONSENT.LINK_TEXT' | translate }}</a>
      </div>
    </div>
  </form>
</div>
