@import '../../../styles/variables.scss';
.footer{

    padding: 20px 5%;
    background-color: white;
    color: #141A20;
    font-size: 16px;
    line-height: 30px;
    .box_1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .contact{
            width: 40%;
            display: flex;
            justify-content: space-between;
            text-align: end;
            h4{
                font-size: $font-size-h5;
                line-height: $line-height-h5;
                font-weight: 700;
                       }
                       p{
                        font-size: $font-size-body-large;
                        line-height: $line-height-body-large;
                        color: #64748B;
                       }
            @media (max-width: 1034px) {
              width: 100%;
         
              
            }
        }
    }
    .box_2{
        padding: 20px 0 ;
        border: 1px solid #E2E8F0;
        border-right: 0px;
        border-left: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: first baseline;
        .navbar{
            width: 70%;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            @media (max-width: 1024px) {
               flex-wrap: wrap;
            }
            div{
                display: flex;
                flex-direction: column;
            a,p{
            text-decoration: none;
            color: #475569;
            margin: 7px 0;
            font-weight: 500;
            font-size: $font-size-body-medium;
            line-height: $line-height-body-medium;
          }
          .p{
            color: $color-text;
            font-weight: 700;
          }
          a{
            cursor: pointer;
          }
        }
        }
        .sotset{
            justify-self: end;
        
            display: flex;

            justify-content: space-between;
           
            img{
                width: 20%;
                cursor: pointer;
            }
        }
    }
    .box_3{
        padding: 20px 0;
    }
}