
<div class="footer">
    <div class="box_1">
       <a routerLink="/" href="">  <img src="../../../assets/icons/logoblack.svg" alt=""></a>
        <div class="contact">
          <div class="">
            <h4>+(992) 44 630 8888</h4>
            <p> {{"For private individuals"|translate}}</p>
          </div>
     
        </div>
    </div>
    <div class="box_2">
      <div class="navbar">
        <div class="">
          <a>{{"Credit cards"|translate}}</a>
          <a>{{"Debit cards"|translate}}</a> 
           <a>{{"Deposits"|translate}}</a>
        </div>
        <div class=""> 
            <a routerLink="about-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ "About the bank"|translate}}</a> 
            <a routerLink="vacancy-list" routerLinkActive="active">{{"Vacancies"|translate}}</a>
            <a>{{"Offices and ATMs"|translate}}</a>
          </div>
          <div class="">
          <a>{{"Questions and answers"|translate}}</a>
          <a>{{"Contact the bank"|translate}}</a>
          <a>{{ "Tenders"|translate}}</a> 
          <a>{{"News"|translate}}</a>
          </div>
      <div class="">
       <p class="p">{{"Working hours"|translate}}</p> 
<p>{{"Working days:"|translate}} </p>
<p> {{"from Monday to Friday"|translate}} </p>
<p>{{"from 08:00 to 17:00"|translate}}</p>
<p>{{"Saturday: from 09:00 to 12:00"|translate}}</p>
      </div>
        
       
        
     
      </div>
      <div class="sotset">
  <img src="../../../assets/icons/insta.svg" alt="">
  <img src="../../../assets/icons/facebook.svg" alt="">
  <img src="../../../assets/icons/telegram.svg" alt="">
  <img src="../../../assets/icons/youtube.svg" alt="">
      </div>
    </div>
    <div class="box_3">
      <p> {{ "© 2017 - 2024 OJSC 'Commerzbank of Tajikistan', official website. National license"|translate}}</p>
      <p>{{ "Bank of Tajikistan for banking operations, No. 0000085 dated October 10, 2017."|translate}}</p>
    </div>
  </div>