
<div class="footer">
  <div class="box_1">
     <a routerLink="/" href="">
       <img src="../../../assets/icons/logoblack.svg" [alt]="'alt.mainLogoBlack' | translate">
     </a>
      <div class="contact">
         <div class="">
          <h4>22-00</h4>
          <p>{{ 'footer.contacts.forIndividuals2' | translate }}</p>
        </div>

        <div class="">
          <h4>+(992) 44 630 8888</h4>
          <p>{{ 'footer.contacts.forIndividuals' | translate }}</p>
        </div>
       
      </div>
  </div>
  <div class="box_2">
    <div class="navbar">
      <div class="">
        <a [routerLink]="'/cards'">{{ 'footer.nav.creditCards' | translate }}</a>
        <a routerLink="insurance-info" routerLinkActive="active">{{"footer.nav.insurance"|translate}}</a>
        <a routerLink="salary-project" routerLinkActive="active">{{"footer.nav.salaryProject"|translate}}</a>
        <a routerLink="scs-rko" routerLinkActive="active">{{ 'footer.nav.scsRko' | translate }}</a>
        <a routerLink="merchant" routerLinkActive="active">{{ 'footer.nav.merchants' | translate }}</a>
      </div>
      <div class=""> 
        <a routerLink="acquiring" routerLinkActive="active">{{"footer.nav.acquiring"|translate}}</a>
        <a routerLink="about-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ 'footer.nav.aboutBank' | translate }}</a> 
        <a routerLink="vacancies" routerLinkActive="active">{{ 'footer.nav.vacancies' | translate }}</a>
        <a routerLink="map" routerLinkActive="active">{{ 'footer.nav.officesAndAtms' | translate }}</a>
        <a routerLink="contact" routerLinkActive="active">{{ 'footer.nav.contacts' | translate }}</a>
      </div>
      <div class="">
        <a routerLink="bank-detail" routerLinkActive="active">{{ 'footer.nav.bankDetails' | translate }}</a>
        <a routerLink="report" routerLinkActive="active">{{ 'footer.nav.financialReporting' | translate }}</a>
        <a routerLink="tender" routerLinkActive="active">{{ 'footer.nav.tenders' | translate }}</a> 
        <a routerLink="news" routerLinkActive="active">{{ 'footer.nav.news' | translate }}</a>
      </div>
      <div class="">
        <p class="p">{{ 'footer.workingHours.title' | translate }}</p> 
       
        <!-- <p>{{ 'footer.workingHours.weekdays' | translate }}</p> -->
        <p>{{ 'footer.workingHours.weekdaysTime' | translate }}</p>
        <p>{{ 'footer.workingHours.saturday' | translate }}</p>
      </div>
    </div>
    <div class="sotset">
      <!-- Ссылка для Instagram -->
      <a href="https://www.instagram.com/commercebank.tj" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/icons/insta.svg" [alt]="'alt.instagram' | translate">
      </a>
    
      <!-- Ссылка для Facebook -->
      <a href="https://www.facebook.com/commercebank.tj" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/icons/facebook.svg" [alt]="'alt.facebook' | translate">
      </a>
    
      <!-- Ссылка для Telegram -->
      <a href="https://t.me/your_channel" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/icons/telegram.svg" [alt]="'alt.telegram' | translate">
      </a>
    
      <!-- Ссылка для YouTube -->
      <!-- <a href="https://www.youtube.com/your_channel" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/icons/youtube.svg" [alt]="'alt.youtube' | translate">
      </a> -->
    </div>
  </div>
  <div class="box_3">
    <p>© 2017 - {{ currentYear }} {{ 'footer.copyright.main' | translate }}</p>
    <p>{{ 'footer.copyright.license' | translate }}</p>
  </div>
</div>