
<div class="footer">
    <div class="box_1">
       <a routerLink="/" href="">  <img src="../../../assets/icons/logoblack.svg" alt=""></a>
        <div class="contact">
          <div class="">
            <h4>+(992) 44 630 8888</h4>
            <p> {{"For private individuals"|translate}}</p>
          </div>
          <div class="">
            <h4>+(992) 44 630 6666</h4>
            <p>{{ "Business"|translate}}</p>
          </div>
        </div>
    </div>
    <div class="box_2">
      <div class="navbar">
        <div class="">
          <a>{{"Credit cards"|translate}}</a>
          <a>{{"Debit cards"|translate}}</a> 
           <a>{{"Deposits"|translate}}</a>
        </div>
        <div class=""> 
            <a>{{ "About the bank"|translate}}</a> 
            <a routerLink="/vacancies" routerLinkActive="active">{{"Vacancies"|translate}}</a>
            <a>{{"Offices and ATMs"|translate}}</a>
          </div>
          <div class="">
          <a>{{"Questions and answers"|translate}}</a>
          <a>{{"Contact the bank"|translate}}</a>
          <a>{{ "Tenders"|translate}}</a> 
          <a>{{"News"|translate}}</a>
          </div>
      <div class="">
       <p class="p">Рабочее время</p> 
<p>Рабочие дни: </p>
<p>с понедельника по пятницу </p>
<p>с 08:00 до 17:00</p>
<p>Суббота: с 09:00 до 12:00</p>
      </div>
        
       
        
     
      </div>
      <div class="sotset">
  <img src="../../../assets/icons/insta.svg" alt="">
  <img src="../../../assets/icons/facebook.svg" alt="">
  <img src="../../../assets/icons/telegram.svg" alt="">
  <img src="../../../assets/icons/youtube.svg" alt="">
      </div>
    </div>
    <div class="box_3">
      <p> {{ "© 2017 - 2024 OJSC 'Commerzbank of Tajikistan', official website. National license"|translate}}</p>
      <p>{{ "Bank of Tajikistan for banking operations, No. 0000085 dated October 10, 2017."|translate}}</p>
    </div>
  </div>