<div class="tender">

  <div class="card-container">
    <div class="card-info">
      <h2 class="card-title">{{ 'tendersList.title' | translate }}</h2>
      <p class="card-description">{{ 'tendersList.description' | translate }}</p>
    </div>
  </div>

  <div class="tender-div-container">
    <!-- Заголовок списка (имитация thead) -->
    <div class="tender-div-header">
      <div class="tender-div-cell header-cell">{{ 'tendersList.table.headerTender' | translate }}</div>
      <div class="tender-div-cell header-cell">{{ 'tendersList.table.headerStartDate' | translate }}</div>
      <div class="tender-div-cell header-cell">{{ 'tendersList.table.headerEndDate' | translate }}</div>
      <div class="tender-div-cell header-cell">{{ 'tendersList.table.headerStatus' | translate }}</div>
    </div>
  
    <!-- Сообщение об отсутствии данных -->
    <div *ngIf="tenders.length === 0" class="no-data-row">
      {{ 'tendersList.table.noData' | translate }}
    </div>
  
    <!-- Строки данных (имитация tbody и tr) -->
    <div class="tender-div-row" *ngFor="let tender of tenders" (click)="navigateToCardDetailsAndForm(tender.id)">
      <div class="tender-div-cell">{{ tender.name }}</div>
      <div class="tender-div-cell">{{ tender.start_date }}</div>
      <div class="tender-div-cell">{{ tender.end_date }}</div>
      <div class="tender-div-cell cell-status">
        <span class="status-badge"
              [ngClass]="{
                'status-open': tender.status === 'open',
                'status-completed': tender.status === 'close'
              }">
          {{ tender.status === 'open' ? ('tenderDetails.status.open' | translate) : ('tenderDetails.status.closed' | translate) }}
        </span>
      </div>
    </div>

    <div class="pagination">
      <button (click)="selectPage(1)" [disabled]="currentPage === 1">«</button>
      <button (click)="prevPage()" [disabled]="currentPage === 1">‹</button>
      
      <button *ngFor="let page of pages"
              [class.active]="page === currentPage"
              (click)="selectPage(page)">
        {{ page === -1 ? '...' : page }}
      </button>
      
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">›</button>
      <button (click)="selectPage(totalPages)" [disabled]="currentPage === totalPages">»</button>
    </div>
  </div>
</div>