<div class="calculator-wrapper">
  <!-- Левая колонка с формой -->
  <div class="calculator-form">
    <h2>{{ 'CALCULATORS.INSTALLMENT.TITLE' | translate }}</h2>

    <div class="form-group">
      <label>{{ 'CALCULATORS.INSTALLMENT.AMOUNT' | translate }}</label>
      <div class="input-slider-container">
        <div class="input-display">
          @if(!isEditingAmount) {
            <div (click)="startEditing()">
              {{ loanAmount | number:'1.0-0':'ru-RU' }} {{ 'CALCULATORS.COMMON.CURRENCY_SYMBOL.TJS' | translate }}
            </div>
          }
         @if(isEditingAmount) {
            <input  type="number" 
            [(ngModel)]="loanAmount" 
            (input)="onValueChange()"
            (blur)="stopEditing()"
            (keydown.enter)="stopEditing()"
            autofocus>
         }
        
        </div>

        <input
          class="range-slider"
          type="range"
          [min]="minAmount"
          [max]="maxAmount"
          step="100"
          [(ngModel)]="loanAmount"
          (input)="onValueChange()"
          id="loanAmountRange"
          [attr.aria-label]="'calculators.installment.amountRange' | translate"
          [style.--range-percent]="loanAmountPercent"
        />

        <div class="range-labels">
          @for(label of amountLabels; track $index) {
            <span >{{ label }}</span>
          }
     
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>{{ 'CALCULATORS.INSTALLMENT.TERM' | translate }}</label>
      <div class="term-buttons">
        @for(term of availableTerms; track $index) {
          <button 
          (click)="loanTerm = term; onValueChange()"
          [class.active]="loanTerm === term">
        {{ term }} {{ 'CALCULATORS.COMMON.MONTHS' | translate }}
        </button>
        }
       
      </div>
    </div>
  </div>

  <!-- Правая колонка с результатами -->
  <div class="calculator-result">
    <h2>{{ 'CALCULATORS.COMMON.YOUR_OFFER' | translate }}</h2>
    @if (calculationResult) {
      <div>
        <div class="result-item">
          <p>{{ 'CALCULATORS.COMMON.MONTHLY_PAYMENT' | translate }}</p>
          <h3>{{ calculationResult.monthlyPayment | number:'1.0-0':'ru-RU' }}</h3>
        </div>
    
        <div class="result-item">
          <p>{{ 'CALCULATORS.COMMON.INTEREST_RATE' | translate }}</p>
          <h3>{{ calculationResult.interestRate | percent:'1.0-0' }}</h3>
        </div>
    
        <div class="result-item">
          <p>{{ 'CALCULATORS.INSTALLMENT.TOTAL_PAYMENT' | translate }}</p>
          <h3>{{ calculationResult.totalPayment | number:'1.0-0':'ru-RU' }}</h3>
        </div>
      </div>
    } @else {
      <div class="no-rate">
        {{ 'CALCULATORS.NO_DATA' | translate }}
      </div>
    }
 

    <ng-template #noRate>
      <p class="error-message">{{ 'CALCULATORS.INSTALLMENT.SELECT_TERM_ERROR' | translate }}</p>
    </ng-template>

    <button class="apply-button">
      {{ 'CALCULATORS.INSTALLMENT.APPLY_BUTTON' | translate }}
    </button>
  </div>
</div>
