<div class="calculator-wrapper">
  <!-- Левая колонка с формой -->
  <div class="calculator-form">
    <h2>{{ 'calculators.installment.title' | translate }}</h2>
  
    <div class="form-group">
      <label>{{ 'calculators.installment.amount' | translate }}</label>
      <div class="input-slider-container">
        
        <div class="input-display">
          <div *ngIf="!isEditingAmount" (click)="startEditing()">
            {{ loanAmount | number:'1.0-0':'ru-RU' }} {{ 'calculators.common.currencySymbol.tjs' | translate }}
          </div>
          <input *ngIf="isEditingAmount" type="number" 
                 [(ngModel)]="loanAmount" 
                 (input)="onValueChange()"
                 (blur)="stopEditing()"
                 (keydown.enter)="stopEditing()"
                 autofocus>
        </div>

        <input class="range-slider" type="range"
              [min]="minAmount" [max]="maxAmount" step="100"
              [(ngModel)]="loanAmount" (input)="onValueChange()"
              [style.--range-percent]="loanAmountPercent">
        <div class="range-labels">
          <span *ngFor="let label of amountLabels">{{ label }}</span>
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <label>{{ 'calculators.installment.term' | translate }}</label>
      <div class="term-buttons">
        <button *ngFor="let term of availableTerms"
                (click)="loanTerm = term; onValueChange()"
                [class.active]="loanTerm === term">
          {{ term }} {{ 'calculators.common.months' | translate }}
        </button>
      </div>
    </div>
  </div>
  
  <!-- Правая колонка с результатами -->
  <div class="calculator-result">
    <h2>{{ 'calculators.common.yourOffer' | translate }}</h2>
    <div *ngIf="calculationResult; else noRate">
      <div class="result-item">
        <p>{{ 'calculators.common.monthlyPayment' | translate }}</p>
        <h3>{{ calculationResult.monthlyPayment | number:'1.0-0':'ru-RU' }}</h3>
      </div>
      <div class="result-item">
        <p>{{ 'calculators.common.interestRate' | translate }}</p>
        <h3>{{ calculationResult.interestRate | percent:'1.0-0' }}</h3>
      </div>
      <div class="result-item">
        <p>{{ 'calculators.installment.totalPayment' | translate }}</p>
        <h3>{{ calculationResult.totalPayment | number:'1.0-0':'ru-RU' }}</h3>
      </div>
    </div>
    <ng-template #noRate>
      <p class="error-message">{{ 'calculators.installment.selectTermError' | translate }}</p>
    </ng-template>
  
    <button class="apply-button">
      {{ 'calculators.installment.applyButton' | translate }}
    </button>
  </div>
</div>