@import '../../../styles/variables.scss';

.credit {
  @include main-container;
  background-color: #f6f7f8;

  h1 {
    @include typography(42);
    font-weight: 700;
    @include section-gap('margin-bottom');
  }

  .btnCards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    @include section-gap('margin-bottom');

    button {
      border-radius: 53px;
      padding: 14px 28px;
      background-color: white;
      border: none;
      cursor: pointer;
      color: $color-text;
      @include typography(18);
      font-weight: 400;

      &.active {
        background-color: $color-primary;
        color: white;
      }

      @media (max-width: $tablet) {
        padding: 10px 20px;
      }
    }
  }

  .card-container {
    position: relative;
    @include section-gap('margin-top');
    box-shadow: 0px 4px 20px 0px rgba(175, 175, 175, 0.18);
    background-color: white;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    @media (max-width: $tablet) {
      flex-direction: row; 
      padding: 0; 
      gap: 0; 
      height: auto;
      min-height: 380px; 
    }
    @media (max-width: 850px) {
      flex-direction: column;
      text-align: center;
      padding: 40px 30px; 
    }
    .card-info {
      width: 60%;
      padding: 76px 0 63px 76px; 

      @media (max-width: $tablet) {
        width: 60%;
        padding: 40px 0px 40px 40px;
        text-align: left;
      }
      @media (max-width: 850px) {
        width: 100%;
        padding: 0;
        order: 2; 
      }

      .card-title {
        @include typography(30); 
        font-weight: 700;
        margin-bottom: 12px;
      }

      .card-description {
        @include typography(18);
        color: $color-dark-grey;
        font-weight: 400;
        // margin-bottom: 20px;
        line-height: 1.4;
      }

      .card-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        margin: 45px 0 50px;
        gap: 40px;

        @media (max-width: $mobile) {
          display: block; 
          margin: 20px 0 25px;
        }

        .currency-info {
          width: 100%;
          .title {
            @include typography(22); 
            font-weight: 700;
            margin-bottom: 5px;
          }

          .description {
            @include typography(16); 
            color: $color-dark-grey;
            line-height: 1.4;
          }

          @media (max-width: $mobile) {
            margin-bottom: 15px;
          }
        }
      }

      .card-buttons {
        display: flex;
        gap: 15px;
        margin-top: 25px;

        .btn-primary {
          @include primary-button;
          background-color: $color-primary;
          color: #fff;
        }

        .btn-secondary {
          @include primary-button;
          background-color: transparent;
          color: $color-primary;
        }
        button{
          border: none;
          @include typography(18);
          font-weight: 400;
        }

        @media (max-width: $mobile) {
          flex-direction: column;
          gap: 12px;
        }
      }
    }

    .card-image {
      width: 40%;
      align-self: flex-end;
      padding: 0px 68px 0px 0px;

      @media (max-width: $tablet) {
        width: 40%; 
        padding: 0 40px 0 0;

        align-self: flex-end; 
        display: flex;
        justify-content: flex-end;
      }
      @media (max-width: 850px) {
        width: 100%;
        max-width: 250px; 
        padding: 0px;
        margin: 0 auto 20px;
        order: 1;
      }

      img {
        width: 100%;
        max-width: 448px; 
        display: block;
        margin-bottom: -5px; 
      }
    }
  }
}