<div class="credit">
  <h1>{{ 'CREDITS_PAGE.TITLE' | translate }}</h1>

  <div class="card-container" *ngFor="let credit of credits">
    <div class="card-info">
      <h2 class="card-title">{{ credit.title }}</h2>
      <p class="card-description">
        {{ credit.description }}
      </p>
      <div class="card-details">
        <div class="currency-info" *ngFor="let content of credit.content">
          <p class="title">{{ content.title }}</p>
          <p class="description">{{ content.description }}</p>
        </div>
      </div>
      <div class="card-buttons">
        <button
          class="btn-primary"
          [routerLink]="['/credits', credit.id]"
          [queryParams]="{ scrollTo: 'application-form' }"
        >
          {{ 'CREDITS_PAGE.CARD.APPLY_BUTTON' | translate }}
        </button>
        <button
          class="btn-secondary"
          [routerLink]="['/credits', credit.id]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ 'CREDITS_PAGE.CARD.DETAILS_BUTTON' | translate }}
        </button>
      </div>
    </div>
    <div class="card-image">
      <img class="card" [src]="imageUrl + credit.upload_file" alt="Barakat" />
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
