nav{ 
    width:90%;
   margin: auto;
   
 
   .adress{

   width: 100%;
  display: flex;
  justify-content: end;
   align-items: center;
  //  padding: 5px 0;
   gap: 2%;
   .contact{
    display: flex;
    gap: 5px;
    img{
       justify-self: end;

    }
    p{
       font-size: 16px;
       font-weight: 700;
       color: #94A3B8;
    }
  }
  
   div{
       justify-self: end;
       select{
         border: none;
       }
   }
   
  
   .custom-dropdown {
    position: relative;
    width: 200px;
    font-family: Arial, sans-serif; 
     .dropdown-selected {
    padding: 10px;
    // border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
    .dropdown-selected::after {
    // content: "\2304"; /* Маленькая стрелка вниз */
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
  }
  
  .dropdown-options {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color:#fff ;
    border: 1px solid #CBD5E1;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    z-index: 100;

  .dropdown-option {
    padding: 14px 18px;
    cursor: pointer;
    transition: background-color 0.2s; 
       display: flex;
    justify-content: space-between;
    border-radius:0 0 12px;
    
  }
  
  .dropdown-option:hover {
    background-color: #f1f1f1;
  }
  }
  }
  
   
}
.men{
display: flex;
justify-content:space-between ;
align-items: center;
border-top: 1px solid #E6EAEE;
box-sizing: border-box; 

.custom-dropdown {
  position: relative;
  width: 200px;
  font-family: Arial, sans-serif; 
   .dropdown-selected {
  padding: 10px;
  // border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
  .dropdown-selected::after {
  // content: "\2304"; /* Маленькая стрелка вниз */
position: absolute;
right: 1px;
top: 20%;
transform: translateY(-50%);
font-size: 16px;
color: #999;
}

.dropdown-options {
  position: absolute;
  top: 95%;
  left: 0;
  width: 100%;
  background-color:#fff ;
  border: 1px solid #CBD5E1;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  z-index: 100;

.dropdown-option {
  padding: 14px 18px;
  cursor: pointer;
  transition: background-color 0.2s; 
     display: flex;
  justify-content: space-between;
  border-radius:0 0 12px;
  
}

.dropdown-option:hover {
  background-color: #f1f1f1;
}
}
}
.menu{
   
    // padding: 5px 0;
       display: flex; 
       justify-self: center;
     justify-content: space-between; 
    list-style-type: none;
    align-items: center;
   
    gap: 25px;
    // text-decoration: none;
    li{

        a{
            white-space: nowrap;
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
            color: #141A20;
            
        }
        a.active{
   
   border-bottom:2px solid #00B06C ;
 }
       
        select{
         width: 80px;
            border: none;
            option{
               
                    font-size: 16px;
                    font-weight: 700;
                    padding: 10px 0
        }
           
      }


} 



}  
  .burger {
    display: none;
  }
  
 
  .burger-line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
  }
.btnSignIn{
   background-color: white;
  //  padding: 10px 20px;
display: flex;
align-items: center;
// gap: 6%;
 font-size: 16px;
font-weight: 700;
border: none;
}

}

@media (max-width: 1200px) {
 .adress{
    
   .contact{
    justify-content: space-between;
    p{
      font-size: 12px;
    }
   }
 }
    .men{
      grid-template-columns: 1fr;
      .menu{
        display: none; /* скрыть меню на мобильных */
      }
  
      .menu.active {
        display: flex;
        z-index: 1;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 130px;
        left: 10%;
        width: 80%;
        padding: 10px;
        li{
         select{
           flex: 1;
         }
        }
      }
  
      .burger {
        display: block;
        cursor: pointer;
      }
    }
   }
}