<nav class="content">
  <div class="men">
    <a routerLink="/" class="logo-link">
      <div class="logo">
        <img width="180px" [src]="logoSrc" alt="logo" />
      </div>
    </a>

    <ul class="menu desktop-only">
      @for (menu of menus; track i; let i = $index) {
        <li (mouseenter)="toggleDropdown(i, $event)" (mouseleave)="closeDropdown(i)">
          @if (menu.items.length) {
            <div class="custom-dropdown">
              <div class="dropdown-selected">
                <a>{{ menu.name }}</a>
              </div>
              @if (dropdownOpenMap[i]) {
                <div class="dropdown-options">
                  @for (item of menu.items; track item.id) {
                    <div class="dropdown-option" (click)="selectOption(item, i, $event, menu)">
                      <a>{{ item.name }}</a>
                    </div>
                  }
                </div>
              }
            </div>
          } @else {
            <a class="menu-link" [href]="menu.route" routerLinkActive="active">{{ menu.name }}</a>
          }
        </li>
      }
    </ul>

    <div class="nav-right">
      <div class="custom-dropdown lang-selector desktop-only" (click)="toggleDropdown1($event)">
        <div class="dropdown-selected">
          <img src="../../../assets/icons/global.svg" alt="lang" class="icon-global" />
          <span class="current-lang">{{ getDisplayLanguage() }}</span>
          <img src="../../../assets/icons/arrow-down.png" alt="arrow" class="arrow-mini" />
        </div>

        @if (dropdownOpen) {
          <div class="dropdown-options right-align">
            @for (option of languageOptions; track $index) {
              <div
                class="dropdown-option"
                (click)="selectLanguage(option, $event)"
                [class.active]="option.value === selectedLanguage"
              >
                <span>{{ option.label }}</span>
                @if (option.value === selectedLanguage) {
                  <img src="../../../assets/icons/tick-circle.svg" class="tick-icon" />
                }
              </div>
            }
          </div>
        }
      </div>

      <div class="burger-icon mobile-only" (click)="toggleMenu($event)">
        @if (!menuActive) {
          <img src="../../../assets/icons/burger-menu.svg" alt="open" />
        } @else {
           <img src="../../../assets/icons/close-circle.svg" alt="close" />
        }
      </div>
    </div>
  </div>
</nav>

@if (menuActive) {
  <div class="mobile-menu-overlay">
    <div class="mobile-header-sync">
      <a routerLink="/" class="logo-link" (click)="closeMobileMenu()">
        <img [src]="logoSrc" alt="logo" class="mobile-sync-logo" />
      </a>
   
    </div>
    <div class="mobile-scroll-content">
    <a routerLink="map" (click)="closeMobileMenu()" class="offices-btn-large">
      <span>{{ 'HEADER.TOP.OFFICES_AND_ATMS' | translate }}</span>
      <img src="../../../assets/icons/map-point.svg" class="white-icon" />
    </a>

    <div class="mobile-accordion-container">
      @for (menu of menus; track i; let i = $index) {
        <div class="accordion-item">
          <div class="accordion-header" (click)="toggleDropdown(i, $event)">
            @if (menu.items.length) {
              <span class="title">{{ menu.name }}</span>
              <img src="../../../assets/icons/arrow-down.png" class="chevron" [class.rotate]="dropdownOpenMap[i]" />
            } @else {
              <a [href]="menu.route" (click)="closeMobileMenu()">
                <span class="title">{{ menu.name }}</span>
              </a>
            }
          </div>

          @if (dropdownOpenMap[i] && menu.items.length) {
            <div class="accordion-content">
              @for (sub of menu.items; track sub.id) {
                <div class="sub-link" (click)="selectOption(sub, i, $event, menu)">
                  <a>{{ sub.name }}</a>
                </div>
              }
            </div>
          }
        </div>
      }
    </div>
    <div class="mobile-footer-area">
    <div class="mobile-language-tabs">
      @for (option of languageOptions; track $index) {
        <button 
          (click)="selectLanguage(option, $event)"
          [class.active]="option.value === selectedLanguage"
        >
          {{ option.label }}
        </button>
      }
    </div>
    <div class="contact-footer">
      <a href="tel:+992446308888">+(992) 44 630 8888</a>
    </div>
  </div>
   </div>
  </div>
}
