<div class="info-page-container">
  <div class="section-1">
    <div class="box1">
      <h1>{{ 'SALARY_PROJECT.TITLE' | translate }}</h1>
      <p>{{ 'SALARY_PROJECT.SUBTITLE' | translate }}</p>
      <button (click)="scrollToForm()">{{ 'SALARY_PROJECT.SUBMIT_BUTTON' | translate }}</button>
    </div>
    <div class="box2">
      <img src="../../../assets/icons/salaryproject1.png" alt="" />
    </div>
  </div>

  <div class="section-2">
    <p>
      {{ 'SALARY_PROJECT.DESCRIPTION_1' | translate }}
    </p>

    <p>
      {{ 'SALARY_PROJECT.DESCRIPTION_2' | translate }}
    </p>
  </div>

  <div class="section-3">
    <h2 class="header">{{ 'SALARY_PROJECT.SIMPLE_PROFITABLE' | translate }}</h2>
    <div class="details-1">
      <div class="box1">
        <div class="">
          <h3>{{ 'SALARY_PROJECT.FEATURES.MOBILE_APP.TITLE' | translate }}</h3>
          <p>{{ 'SALARY_PROJECT.FEATURES.MOBILE_APP.DESCRIPTION' | translate }}</p>
        </div>
        <img src="../../../assets/icons/salaryproject2.png" alt="" />
      </div>
      <div class="box1">
        <div class="">
          <h3>{{ 'SALARY_PROJECT.FEATURES.PERSONAL_CONDITIONS.TITLE' | translate }}</h3>
          <p>{{ 'SALARY_PROJECT.FEATURES.PERSONAL_CONDITIONS.DESCRIPTION' | translate }}</p>
        </div>
        <img src="../../../assets/icons/salaryproject3.png" alt="" />
      </div>
      <div class="boxs">
        <div class="box1">
          <h3>{{ 'SALARY_PROJECT.FEATURES.FREE_SERVICE.TITLE' | translate }}</h3>
          <p>{{ 'SALARY_PROJECT.FEATURES.FREE_SERVICE.DESCRIPTION' | translate }}</p>
        </div>
        <div class="box1">
          <div class="">
            <h3>{{ 'SALARY_PROJECT.FEATURES.FAST_CONNECTION.TITLE' | translate }}</h3>
            <p>{{ 'SALARY_PROJECT.FEATURES.FAST_CONNECTION.DESCRIPTION' | translate }}</p>
          </div>
          <img src="../../../assets/icons/salaryproject4.png" alt="" />
        </div>
      </div>
    </div>

    <h2 class="header">{{ 'SALARY_PROJECT.COMPANY_BENEFITS.TITLE' | translate }}</h2>
    <div class="details-2">
      <div class="box">
        <img src="../../../assets/icons/Check Circle.svg" alt="" />
        <p>{{ 'SALARY_PROJECT.COMPANY_BENEFITS.ITEMS.0' | translate }}</p>
      </div>
      <div class="box">
        <img src="../../../assets/icons/Check Circle.svg" alt="" />
        <p>{{ 'SALARY_PROJECT.COMPANY_BENEFITS.ITEMS.1' | translate }}</p>
      </div>
      <div class="box">
        <img src="../../../assets/icons/Check Circle.svg" alt="" />
        <p>{{ 'SALARY_PROJECT.COMPANY_BENEFITS.ITEMS.2' | translate }}</p>
      </div>
      <div class="box">
        <img src="../../../assets/icons/Check Circle.svg" alt="" />
        <p>{{ 'SALARY_PROJECT.COMPANY_BENEFITS.ITEMS.3' | translate }}</p>
      </div>
      <div class="box">
        <img src="../../../assets/icons/Check Circle.svg" alt="" />
        <p>{{ 'SALARY_PROJECT.COMPANY_BENEFITS.ITEMS.4' | translate }}</p>
      </div>
    </div>
    <h2 class="header">{{ 'SALARY_PROJECT.EMPLOYEE_BENEFITS.TITLE' | translate }}</h2>
    <div class="details-2">
      <div class="box">
        <img src="../../../assets/icons/Check Circle.svg" alt="" />
        <p>{{ 'SALARY_PROJECT.EMPLOYEE_BENEFITS.ITEMS.0' | translate }}</p>
      </div>
      <div class="box">
        <img src="../../../assets/icons/Check Circle.svg" alt="" />
        <p>{{ 'SALARY_PROJECT.EMPLOYEE_BENEFITS.ITEMS.1' | translate }}</p>
      </div>
      <div class="box">
        <img src="../../../assets/icons/Check Circle.svg" alt="" />
        <p>{{ 'SALARY_PROJECT.EMPLOYEE_BENEFITS.ITEMS.2' | translate }}</p>
      </div>
      <div class="box">
        <img src="../../../assets/icons/Check Circle.svg" alt="" />
        <p>{{ 'SALARY_PROJECT.EMPLOYEE_BENEFITS.ITEMS.3' | translate }}</p>
      </div>
      <div class="box">
        <img src="../../../assets/icons/Check Circle.svg" alt="" />
        <p>{{ 'SALARY_PROJECT.EMPLOYEE_BENEFITS.ITEMS.4' | translate }}</p>
      </div>
    </div>
  </div>

  <app-simple-application-form [apiUrl]="salaryApiUrl" [titleKey]="'FORMS.TITLES.SALARY_PROJECT'">
  </app-simple-application-form>
</div>
