

  <div class="info-page-container">

    <div class="section-1">
      <div class="box1">
        <h1>Зарплатный проект</h1>
        <p>Зарплатный проект освободит вашу организацию от необходимости снимать наличные </p>
        <button>Отправить заявку</button>
      </div>
      <div class="box2">
        <img src="../../../assets/icons/salaryproject1.png" alt="">
      </div>
    </div>

    <div class="section-2">
      <p>Зарплатный проект освободит вашу организацию от необходимости
         снимать наличные денежные средства со счета, производить пересчет и выдавать 
         каждому сотруднику заработную плату наличными. Кроме экономии времени – это еще и безопасность
          – очень важный момент 
        при доставке наличных денежных средств в офис организации.</p>

        <p>Что касается удобства для сотрудников, то Ваши сотрудники смогут получать заработную плату 
          через любые банкоматы при помощи платежных карт 24 часа в сутки, 365 дней в году, а также производить 
          оплату безналичным путем за товары/услуги
           через «Мобильный Банк» и пос-терминалы, установленные в различных торговых и сервисных точках.</p>
    </div>

    <div class="section-3">

      <h2 class="header">С зарплатным проектом просто, выгодно и удобно</h2>
      <div class="details-1">
        <div class="box1"><div class="">
          <h3>Мобильное приложение</h3>
          <p>Выплата зарплаты сотрудникам в другие банки прямо из приложения</p>
           
        </div>
         <img src="../../../assets/icons/salaryproject2.png" alt="">
        </div>
        <div class="box1">
          <div class="">
          <h3>Персональные условия во всём</h3>
          <p>Карты для любой зарплаты: сотрудникам и руководителям</p>
            
       </div>
       <img src="../../../assets/icons/salaryproject3.png" alt=""> 
      </div>
        <div class="boxs">
          <div class="box1">
            
            <h3>Персональные условия во всём</h3>
            <p>Карты для любой зарплаты: сотрудникам и руководителям</p>
          </div>
          <div class="box1">
<div class="">
            <h3>Персональные условия во всём</h3>
            <p>Карты для любой зарплаты: сотрудникам и руководителям</p>
           </div>   <img src="../../../assets/icons/salaryproject4.png" alt="">
          </div>
        </div>
      </div>

      <h2 class="header">Преимущества зарплатного проекта для Вашей организации</h2>
      <div class="details-2">
        <div class="box">
          <img src="../../../assets/icons/Check Circle.svg" alt="">
          <p>Снижение рисков получения, хранения и транспортировки наличных, предназначенных к выплате сотрудникам</p>
        </div>
        <div class="box">
          <img src="../../../assets/icons/Check Circle.svg" alt="">
          <p>Сокращение количества занятых в бухгалтерии и кассе работников</p>
        </div>
        <div class="box">
          <img src="../../../assets/icons/Check Circle.svg" alt="">
          <p>Избавление от очереди за заработной платой</p>
        </div>
        <div class="box">
          <img src="../../../assets/icons/Check Circle.svg" alt="">
          <p>Предоставление командировочных расходов безналичным способом</p>
        </div>
        <div class="box">
          <img src="../../../assets/icons/Check Circle.svg" alt="">
          <p>Обеспечение конфиденциальности информации по индивидуальной заработной плате</p>
        </div>
      </div>
<h2 class="header">
  Преимущества зарплатного проекта для сотрудников Вашей организации
</h2>
      <div class="details-2">
        <div class="box">
          <img src="../../../assets/icons/Check Circle.svg" alt="">
          <p>Круглосуточный доступ к счету</p>
        </div>
        <div class="box">
          <img src="../../../assets/icons/Check Circle.svg" alt="">
          <p>Оплата безналичным путем за товары/услуги через пос-терминалы, установленные в различных торговых и сервисных точках</p>
        </div>
        <div class="box">
          <img src="../../../assets/icons/Check Circle.svg" alt="">
          <p>Онлайн-контроль карты, переводы, оплата услуг в мобильном приложении «Мобильного Банка» и на сайте банка</p>
        </div>
        <div class="box">
          <img src="../../../assets/icons/Check Circle.svg" alt="">
          <p>Сохранность денег на карточном счете при утере карты</p>
        </div>
        <div class="box">
          <img src="../../../assets/icons/Check Circle.svg" alt="">
          <p>Получение заработной платы через банкоматы 24 часа в сутки</p>
        </div>
        <div class="box">
          <img src="../../../assets/icons/Check Circle.svg" alt="">
          <p>Обеспечение конфиденциальности информации по счету</p>
        </div>

      </div>

    </div>

    <app-simple-application-form 
    [apiUrl]="salaryApiUrl"
    [titleKey]="'forms.titles.salaryProject'">
    </app-simple-application-form>
    
  </div>