<div class="adress">
  <div class="application-form-container">
    <div class="form">
      
      <!-- Выпадающий список: Тип объекта -->
      <div class="custom-dropdown">
        <div class="dropdown-selected" (click)="toggleDropdown($event)">
          {{ selectedObjectTypeName }}
        </div>
        @if(dropdownOpen) {
          <div class="dropdown-options" >
            <div class="dropdown-section">
              <h4>{{ 'MAP_PAGE.FILTERS.OBJECT_TYPES' | translate }}</h4>
              <div class="dropdown-option">
                <label class="custom-checkbox">
                  <input type="radio" name="objectType" [checked]="selectedObjectType === 'offices'" (change)="onObjectTypeChange('offices')"/>
                  <span class="checkbox"></span>
                  {{ 'MAP_PAGE.FILTERS.OFFICES' | translate }}
                </label>
              </div>
              <div class="dropdown-option">
                <label class="custom-checkbox">
                  <input type="radio" name="objectType" [checked]="selectedObjectType === 'terminals'" (change)="onObjectTypeChange('terminals')"/>
                  <span class="checkbox"></span>
                  {{ 'MAP_PAGE.FILTERS.TERMINALS' | translate }}
                </label>
              </div>
              <div class="dropdown-option">
                <label class="custom-checkbox">
                  <input type="radio" name="objectType" [checked]="selectedObjectType === 'atms'" (change)="onObjectTypeChange('atms')"/>
                  <span class="checkbox"></span>
                  {{ 'MAP_PAGE.FILTERS.ATMS' | translate }}
                </label>
              </div>
            </div>
          </div>
        }
      
      </div>
      
      <!-- Выпадающий список: Регион -->
      <div class="custom-dropdown">
        <div class="dropdown-selected" (click)="toggleDropdown2($event)">
          {{ selectedRegionDisplayName }}
        </div>
        @if(dropdownOpen2) {
          <div class="dropdown-options">
            <div class="dropdown-section">
              <div class="dropdown-option">
                <label class="custom-checkbox">
                  <input type="radio" name="region" [checked]="regionSelected === 0" (change)="onRegionChange(0)"/>
                  <span class="checkbox"></span>
                  {{ 'MAP_PAGE.FILTERS.ALL_REGIONS' | translate }}
                </label>
              </div>
              @for(option of regionList; track option.id) {
                <div  class="dropdown-option">
                  <label class="custom-checkbox">
                    <input type="radio" name="region" [checked]="regionSelected === option.id" (change)="onRegionChange(option)"/>
                    <span class="checkbox"></span>
                    {{ option.name }}
                  </label>
                </div>
              }
              
            </div>
          </div>
        }
     
      </div>

    </div>
  </div>
 
  <!-- Список объектов -->
  @if (combinedData.length > 0) {
    @for (item of combinedData; track $index) {
      <div class="card">
        <div class="name">
          <div class="icon">
            <!-- Отображаем иконку в зависимости от выбранного типа -->
            @if (selectedObjectType === 'offices') {
              <img src="assets/icons/offices.svg" [alt]="'ALT.OFFICE_ICON' | translate">
            } @else if (selectedObjectType === 'atms') {
              <img src="assets/icons/atms.svg" [alt]="'ALT.ATM_ICON' | translate">
            } @else if (selectedObjectType === 'terminals') {
              <img src="assets/icons/terminals.svg" [alt]="'ALT.TERMINAL_ICON' | translate">
            }
          </div>
  
          <div class="info">
            <h3>{{ item.name }}</h3>
            <p>{{ item.address }}</p>
          </div>
        </div>
  
        <!-- Дополнительная информация, если есть -->
        @if (item.items?.length > 0) {
          <div class="item">
            @for (detail of item.items; track $index) {
              <div>
                <strong>{{ detail.title }}</strong>
                <p>{{ detail.description }}</p>
              </div>
            }
          </div>
        }
      </div>
    }
  } @else {
    <div class="no-data">
      {{ 'COMMON.NO_DATA' | translate }}
    </div>
  }
  
  <!-- Сообщение, если данных нет -->
  <ng-template #noData>
    <div class="no-data-container">
      <p>{{ 'MAP.NO_DATA_MESSAGE' | translate }}</p>
    </div>
  </ng-template>

  <!-- Пагинация -->
  @if(totalPages > 1) {
    <div class="pagination">
      <button (click)="selectPage(1)" [disabled]="currentPage === 1">«</button>
      <button (click)="prevPage()" [disabled]="currentPage === 1">‹</button>
      @for(page of pages; track $index) {
          @if(page !== -1) {
            <button  [class.active]="page === currentPage" (click)="selectPage(page)">
              {{ page }}
            </button>
          } @else {
            <span class="ellipsis">...</span>
          }
      }
      
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">›</button>
      <button (click)="selectPage(totalPages)" [disabled]="currentPage === totalPages">»</button>
  </div>
  }

</div>