<div class="vacancies-container">
  <h1>{{"Vacancies"|translate}}</h1>
  <div class="vacancies-list">
    <!-- Фильтры для направлений и городов -->
    <div class="vacancy-filter">
      <p>{{"Filters"|translate}}</p>
      <form>
        <label for="category">{{"Direction:"|translate}}</label><br>
        <select id="category" [(ngModel)]="selectedCategory" name="category" (change)=" loadAllVacancies()" >
          <option value="" >{{"All directions"|translate}} ({{vacancyCategory.length}})</option>
          <option *ngFor="let category of vacancyCategory" [value]="category.id">{{ category.name }}</option>
        </select>
        <br>
        <label for="city">{{"City:"|translate}}</label><br>
        <select id="city" [(ngModel)]="selectedRegion" name="city" (change)="loadAllVacancies()" >
          <option value="">{{"All cities"|translate}} ({{regionList.length}})</option>
          <option *ngFor="let city of regionList" [value]="city.id">{{ city.name }}</option>
        </select>
      </form>
      
    </div>
    <!-- Список вакансий -->
    <div class="vacancy-items">
      <p>{{"Total"|translate}} {{ vacancyCount }}{{"vacancies"|translate}}</p>
      <div *ngFor="let vacancy of vacancyList" class="vacancy-item">
        <!-- Используем routerLink для навигации к деталям вакансии -->
        <a [routerLink]="['/vacancy-list', vacancy.id]">
          {{ vacancy.name }}
        </a>
        <div class="city">
          <div class="city-location">
            <img src="../../../assets/icons/Layer 2.svg" alt="Location icon">
            <p>{{ vacancy.region_name }}</p>
          </div>
         <a href="" [routerLink]="['/vacancy-list', vacancy.id]" > <img src="../../../assets/icons/strel.svg" alt="Arrow icon"></a>
        </div>
      </div>
    </div>

</div>
<div class="">
    <div class="pagination">
      <button (click)="selectPage(1)" [disabled]="currentPage === 1">«</button>
      <button (click)="prevPage()" [disabled]="currentPage === 1">‹</button>
    
      <button
        *ngFor="let page of pages"
        [class.active]="page === currentPage"
        (click)="selectPage(page)"
      >
        {{ page === -1 ? '...' : page }}
      </button>
    
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">›</button>
      <button (click)="selectPage(totalPages)" [disabled]="currentPage === totalPages">»</button>
    </div>
  </div>
</div>


