<div class="vacancies-container">
  <h1>{{ 'VACANCIES.TITLE' | translate }}</h1>
  <div class="vacancies-list">
    <!-- Фильтры для направлений и городов -->
    <div class="vacancy-filter">
      <p>{{ 'VACANCIES.FILTERS.TITLE' | translate }}</p>
      <form>
        <label for="category">{{ 'VACANCIES.FILTERS.DIRECTION_LABEL' | translate }}</label
        ><br />
        <select id="category" [(ngModel)]="selectedCategory" name="category" (change)="loadAllVacancies()">
          <option value="">{{ 'VACANCIES.FILTERS.ALL_DIRECTIONS' | translate }} ({{ vacancyCategory.length }})</option>
          @for (category of vacancyCategory; track category.id) {
            <option [value]="category.id">{{ category.name }}</option>
          }
        </select>
        <br />
        <label for="city">{{ 'VACANCIES.FILTERS.CITY_LABEL' | translate }}</label
        ><br />
        <select id="city" [(ngModel)]="selectedRegion" name="city" (change)="loadAllVacancies()">
          <option value="">{{ 'VACANCIES.FILTERS.ALL_CITIES' | translate }} ({{ regionList.length }})</option>
          @for (city of regionList; track city.id) {
            <option [value]="city.id">{{ city.name }}</option>
          }
        </select>
      </form>
    </div>
    <!-- Список вакансий -->
    <div class="vacancy-items">
      <p>
        {{ 'VACANCIES.LIST.TOTAL' | translate }} {{ vacancyCount }} {{ 'VACANCIES.LIST.VACANCIES_LABEL' | translate }}
      </p>
      @for (vacancy of vacancyList; track vacancy.id) {
        <div class="vacancy-item">
          <a [routerLink]="['/vacancies/list', vacancy.id]">
            {{ vacancy.name }}
          </a>

          <div class="city">
            <div class="city-location">
              <img src="../../../assets/icons/Layer 2.svg" [alt]="'vacancies.list.locationIconAlt' | translate" />
              <p>{{ vacancy.region_name }}</p>
            </div>
            <a [routerLink]="[vacancy.id]">
              <img src="../../../assets/icons/strel.svg" [alt]="'vacancies.list.arrowIconAlt' | translate" />
            </a>
          </div>
        </div>
      }
    </div>
  </div>
  @if (totalPages > 1) {
  <div class="">
    <div class="pagination">
      <button (click)="selectPage(1)" [disabled]="currentPage === 1">«</button>
      <button (click)="prevPage()" [disabled]="currentPage === 1">‹</button>
      @for (page of pages; track $index) {
        <button [class.active]="page === currentPage" (click)="selectPage(page)">
          {{ page === -1 ? '...' : page }}
        </button>
      }

      <button (click)="nextPage()" [disabled]="currentPage === totalPages">›</button>
      <button (click)="selectPage(totalPages)" [disabled]="currentPage === totalPages">»</button>
    </div>
  </div>
}
</div>
