.notification-bar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); // Центрируем по горизонтали
    padding: 15px 25px;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 2000; // Поверх всего
    will-change: transform, opacity; // Подсказка браузеру для плавной анимации
  
    // Стили для разных статусов
    &.success {
      background-color: #00B06C; // Зеленый
    }
    &.error {
      background-color: #dc3545; // Красный
    }
  
    .icon {
      font-size: 20px;
      font-weight: bold;
    }
  }