<app-carousel></app-carousel>
<div class="main">
  <div class="home">
    <!-- <p class="p">{{ 'home.tagline' | translate }}</p> -->

    <div class="container_1">
      <div class="box_1" *ngFor="let menu of menus">
        <!-- Динамический контент -->
        <div [routerLinkActiveOptions]="{exact: true}" *ngFor="let favorite of menu.favorites" class="" [routerLink]="favorite.route" routerLinkActive="active">
          <!-- ВАЖНО: alt-текст берется из названия элемента для лучшей доступности -->
          <img [src]="imageUrl + favorite?.upload_file" [alt]="favorite?.name">
          <p>{{ favorite?.name }}</p>
        </div>
      </div>
    </div>
    
    <app-calculate></app-calculate>

    <div class="container_3">
      <app-favri></app-favri>
    </div>

    <app-currency-converter></app-currency-converter>

    <div class="container_3">
      <div class="news">
        <app-news-box></app-news-box>
      </div>
    </div>

    <div class="container_5">
      <div class="location">
        <h3>{{ 'common.officesAndAtms' | translate }}</h3>
        <p>{{ 'map.tagline' | translate }}</p>
        <div class=""></div>
        <!-- Убедитесь, что эта кнопка тоже имеет routerLink, если она должна куда-то вести -->
        <button [routerLink]="'/map'">{{ 'buttons.viewOnMap' | translate }}</button>
      </div>
      <div class="d">
        <div class="box" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/map">
          <div class="details">
            <h3>{{ 'common.transfers' | translate }}</h3>
            <p>{{ 'common.tagline' | translate }}</p>
          </div>
          <img src="../../../assets/icons/im1.svg" [alt]="'alt.mapIllustration' | translate">
        </div>
        <div class="box" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/vacancies">
          <div class="details">
            <h3>{{ 'vacancies.title' | translate }}</h3>
            <p>{{ 'home.joinTeam.subtitle' | translate }}</p>
          </div>
          <img src="../../../assets/icons/im2.svg" [alt]="'alt.vacanciesIllustration' | translate">
        </div>
        <div class="box" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/contact">
          <div class="details">
            <h3>{{ 'home.support.title' | translate }}</h3>
            <p>{{ 'home.support.subtitle' | translate }}</p>
          </div>
          <img src="../../../assets/icons/im3.svg" [alt]="'alt.supportIllustration' | translate">
        </div>
      </div>
    </div>
  </div>
</div>



