<app-carousel></app-carousel>
<div class="main"><div class="home"> 
    <p class="p">Выбирайте лучшее</p>
<div class="container_1">
   
    <div class="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="" routerLink="/cards" routerLinkActive="active" >
        <img src="../../assets/icons/img1.svg" alt="">
        <p> {{ "Cards"|translate}}</p>
    </div>
    <div class="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="" routerLink="/credit" routerLinkActive="active" >
        <img src="../../assets/icons/img2.svg" alt="">
        <p>{{  "Loans"|translate}}</p>
    </div>
    <div class="">
        <img src="../../assets/icons/img3.svg" alt="">
        <p>{{ "Transfers"|translate}}</p>
    </div>
    <div class="">
        <img src="../../assets/icons/img4.svg" alt="">
   <p>{{ "Car loan"|translate}}</p>
    </div>
    <div class="">
        <img src="../../assets/icons/img5.svg" alt="">
             <p>{{ "strach"|translate}}</p>
    </div>
    <div class="">
        <img src="../../assets/icons/img6.svg" alt="">
        <p>{{"vklad"|translate}}</p>
    </div>
  
</div>

<!-- <div class="container_2">
    <div class="">
        <p>{{ "Money transfers around the world" |translate}}</p>
        <img width="320px" src="../../assets/icons/картинка.svg" alt="">
    </div>
    <div class="">
        <p>{{"Payments cards"|translate}}</p>
    </div>
</div> -->
<!-- <app-calculator></app-calculator> -->
<app-calculate></app-calculate>


<div class="container_3">
    <div class="favri">
    <div class="">
        

        <h2>{{ "Favri mobile application"|translate}}</h2>
        <p>{{"Check your balance, pay for services, get help in chat 24/7"|translate}}</p>
        <div class="google">
            <img src="../../assets/icons/googleplay.svg" alt="">
            <img src="../../assets/icons/appstore.svg" alt="">
        </div>
    </div>
    <div class="phone">
        <img src="../../../assets/icons/favri.png" alt="">
    </div>
</div>
</div>

<!-- <div class="container_4">
    <p class="p"> {{"Stay up to date with the latest news"|translate}}</p>
    <div class="news">
    <div *ngFor="let news of news" class="">
        <img class="new" [src]="news.image" alt="">
        <div class="content">
        <p>{{news.date}}</p>
        <h3>{{news.title}}</h3>
        <p>{{news.content}}</p>
        <div class="read">
        <h4>{{"Read"|translate}}</h4>
         <img width="24px" src="../../assets/icons/Arrow Right.svg" alt="">
    </div></div>
    </div>
    </div>

</div> -->

<app-currency-converter></app-currency-converter>


<div class="container_3">
    <div class="favri">
        <div class="">

    
            <h2>Intiqol Next</h2>
            <p>{{"Simple and convenient registration, reliable and secure transfers"|translate}}</p>
            <div class="google">
                <img src="../../assets/icons/googleplay.svg" alt="">
                <img src="../../assets/icons/appstore.svg" alt="">
            </div>
        </div>
    <div class="phone">
        <img src="../../../assets/icons/intiqol.png" alt="">
    </div>
</div>
</div>

<div class="container_5">
      <div class="location">
        <h3>{{ "Offices and ATMs"|translate}}</h3>
        <p>{{"We are closer than you think"|translate}}</p>
        <div class="">
          
        </div>
        <button>{{"View on map"|translate}}</button>
    </div>
    <div class="d">
        <div class="box">
            <div class="details">
                <h3>{{ "Offices and ATMs"|translate}}</h3>
                <p>{{"We are closer than you think"|translate}}</p>
            </div>
   <img src="../../../assets/icons/im1.svg" alt="">
        </div>
        <div class="box">
            <div class="details">
                <h3>{{ "Offices and ATMs"|translate}}</h3>
                <p>{{"We are closer than you think"|translate}}</p>
            </div>
   <img src="../../../assets/icons/im2.svg" alt="">
        </div>
        <div class="box">
            <div class="details">
                <h3>{{ "Offices and ATMs"|translate}}</h3>
                <p>{{"We are closer than you think"|translate}}</p>
            </div>
   <img src="../../../assets/icons/im3.svg" alt="">
        </div>
    </div>
</div>
</div>



