@import '../../../styles/variables.scss';
.main{
    background: #fff;
    padding: 20px 0;
.home{
.p{
    font-size:$font-size-h4;
    line-height: $line-height-h4;
    font-weight: 700;
    padding: 20px 5%;
}
.container_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px auto;
    padding: 15px 5%;
}

.box_1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.box_1 > div {
    flex: 1 1 calc(16.66% - 20px); /* 6 элементов на строку по умолчанию */
    max-width: calc(16.66% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 24px;
    background-color: #F1F5F9;
    border-radius: 16px;
    cursor: pointer;
    box-sizing: border-box;
img{
    transition: transform 0.5s ease; /* Анимация будет длиться 0.5 секунды */
    transform: scale(1);
  
}  
&:hover{
    img{
        transform: scale(1.1);
    } 
    }
}

/* Медиа-запросы для адаптации под различные экраны */
@media (max-width: 1264px) {
    .box_1 > div {
        flex: 1 1 calc(20% - 20px); /* 5 элементов на строку */
        max-width: calc(20% - 20px);
    }
}

@media (max-width: 1024px) {
    .box_1 > div {
        flex: 1 1 calc(25% - 20px); /* 4 элемента на строку */
        max-width: calc(25% - 20px);
    }
}

@media (max-width: 768px) {
    .box_1 > div {
        flex: 1 1 calc(33.33% - 20px); /* 3 элемента на строку */
        max-width: calc(33.33% - 20px);
    }
}

@media (max-width: 576px) {
    .box_1 > div {
        flex: 1 1 calc(50% - 20px); /* 2 элемента на строку */
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 375px) {
    .box_1 > div {
        flex: 1 1 100%; /* 1 элемент на строку */
        max-width: 100%;
    }
}

.box_1 p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 15px;
    font-weight: 500;
}

.container_2{
    width: 90%;
    margin: auto;
    padding: 20px 0; 
       background-color: #f8f9fa;
    display: grid;

    grid-template-columns: 40% 55%;
    @media (max-width: 1024px) {
       display: block;
    }
    gap: 5%;
    div{
        background-color: white;
        padding: 20px 0 0 30px;
        box-shadow: 0px 4px 20px 0px rgba(175, 175, 175, 0.18);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px) {
        margin: 10px 0;
    }
    p{
        width: 70%;
        font-weight: 700;
        font-size: 24px;
    }
    img{
        box-sizing: border-box;
        align-self: self-end;
   
}

}
}
.container_3{
    width: 90%;
    padding: 2% 5%;
    background-color: #f8f9fa;
    .favri{
        display: flex;
        margin: 30px 0;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        padding: 30px 7% 0 ;
        box-shadow: 0px 4px 20px 0px rgba(175, 175, 175, 0.18);
        border-radius: 16px;
        @media (max-width: 768px) {
            flex-direction: column;
            padding: 25px 35px 0 35px;
            justify-content: center;
        }
       div{
            width: 50%;
         @media (max-width: 768px) {
                width: 100%;
                
            }
        }}
       
            h2{
                font-size: $font-size-h3;
                line-height: $line-height-h3;
                font-weight: 700;
                padding: 10px 0;
          
            }
            p{
                color: #64748B;
                font-size: $font-size-body-large;
                line-height: $line-height-body-large;
                font-weight: 500;
            }
            .google{
                margin: 20px 0;
                display: flex;
                gap: 20px;
                @media (max-width: 1034px) {
                  display: block;
                    
                  }
                img{
                    cursor: pointer;
                }
            }
       
        .phone{
            width: 100%;
            display: flex;
            justify-content: end;
            @media (max-width: 1024px) {
               justify-content: center;
                
             }
            img{
                width:520px;
                justify-self: end;
                 @media (max-width: 1024px) {
               justify-self: center;
               width: 420px;
                
              }
                
            }
        }

} 

.container_5{
    display: flex;
    padding: 30px 5% ;
    justify-content: space-between; 
    background-color:  #f8f9fa;
    align-items: stretch;
    // box-shadow: 0px 4px 20px 0px rgba(175, 175, 175, 0.18);
    gap: 2%;
    @media (max-width: 1034px) {
        display: block;
      }
    .location{
        width: 53%;
        flex: 1;
        box-shadow: 0px 4px 20px 0px #AFAFAF2E;

        @media (max-width: 1034px) {
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 20px;
  }
   
        background-image: url(../../../assets/icons/bgMap.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        border-radius: 16px;
    
        padding: 50px 60px;
        h3{
            color: #141A20;
            padding: 5px 0;
            font-size:$font-size-h3 ;
            line-height: $line-height-h3;
            font-weight: 700;
        
        }
        p{    
            color: #64748B;
            font-size: $font-size-body-large;
            line-height: $line-height-body-large;
            
        }
     
        button{
            background-color: #F1F5F9;
            padding: 19px 60px;
            color: #141A20;
            font-size: $font-size-body-large;
            line-height: $line-height-body-large;
            font-weight:500 ;
            color: $color-text;
            margin: 150px 0 0;
            border-radius: 6px;
            border: 0;
            cursor: pointer;
        }
    }
    .d{
        width: 43%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 4%;
        .box{
            display: flex;
            justify-content: space-between;
            padding: 5px 40px;
            align-items: center;
            background-color: white;
            border-radius: 16px;
            box-shadow: 0px 4px 20px 0px #AFAFAF2E;
       gap: 30px;
       cursor: pointer;

            h3{
                color: $color-text;
                padding: 5px 0;
                font-size:$font-size-h5 ;
                line-height: $line-height-h5;
                font-weight: 700;
            
            }
            p{  
                  color: #64748B;
                font-size: $font-size-body-medium;
            }
        }
    }
}

}}

