// Размеры шрифтов
$font-size-h1: 56px;
$line-height-h1: 110px;

$font-size-h2: 40px;
$line-height-h2: 48px;

$font-size-h3: 36px;
$line-height-h3: 44px;

$font-size-h4: 32px;
$line-height-h4: 34px;

$font-size-h5: 24px;
$line-height-h5: 32px;

$font-size-body-large: 18px;
$line-height-body-large: 24px;

$font-size-body-medium: 16px;
$line-height-body-medium: 24px;

$font-size-body-small: 14px;
$line-height-body-small: 20px;

$font-size-body-xsmall: 12px;
$line-height-body-xsmall: 20px;

$breakpoint-lg: 1024px; // Для планшетов в альбомной ориентации и небольших десктопов
$breakpoint-md: 768px;  // Для планшетов в портретной ориентации
$breakpoint-sm: 576px; 

// Цвета
$color-text: #222222; // Основной цвет текста, предположительно черный
$color-gradient-start: #00FF00; // Начальный цвет градиента, предположительно зеленый
$color-gradient-end: #006400; // Конечный цвет градиента, предположительно темно-зеленый
$color-primary: #00B06C; // Основной цвет, предположительно синий
$color-grey: #666F8D;
