<div class="calculator-wrapper">
  <div class="calculator-form">
    <h2>{{ 'CALCULATORS.LOAN.TITLE' | translate }}</h2>

    <div class="form-group">
      <div class="currency-tabs">
        @for (currency of availableCurrencies; track currency) {
          <button [class.active]="selectedCurrency === currency" (click)="onCurrencyChange(currency)">
            {{ currency.toUpperCase() }}
          </button>
        }
      </div>
    </div>

    <div class="form-group">
      <label>{{ 'CALCULATORS.LOAN.AMOUNT' | translate }}</label>
      <div class="input-slider-container">
        @if (!isEditingAmount) {
          <div
            class="input-display"
            (click)="startEditing()"
            [style.color]="isAmountInvalid ? '#9e9e9e' : 'inherit'"
            tabindex="0"
          >
            {{ loanAmount }}
          </div>
        } @else {
          <input
            #amountInput
            type="number"
            min="0"
            class="loan-input"
            [(ngModel)]="loanAmount"
            (input)="recalculate($event)"
            (blur)="stopEditing()"
            (focus)="handleFocus($event)"
            [style.color]="isAmountInvalid ? '#9e9e9e' : 'inherit'"
          />
        }

        <input
          class="range-slider"
          type="range"
          [min]="minAmount"
          [max]="maxAmount"
          step="100"
          [(ngModel)]="loanAmount"
          (input)="recalculate()"
          [style.--range-percent]="loanAmountPercent"
        />
      </div>
      <div class="range-labels">
        <span>{{ minAmount | number: '1.0-0' }}</span>
        <span>{{ maxAmount | number: '1.0-0' }}</span>
      </div>
    </div>

    <div class="form-group">
      <label>{{ 'CALCULATORS.LOAN.TERM' | translate }}</label>
      <div class="input-slider-container">
        <div class="input-display">{{ loanTerm }} {{ 'CALCULATORS.COMMON.MONTHS' | translate }}</div>
        <input
          class="range-slider"
          type="range"
          [min]="minTerm"
          [max]="maxTerm"
          step="1"
          [(ngModel)]="loanTerm"
          (input)="recalculate()"
          [style.--range-percent]="loanTermPercent"
        />
      </div>
      <div class="range-labels">
        <span>{{ minTerm }}</span>
        <span>{{ maxTerm }}</span>
      </div>
    </div>

    <div class="form-group">
      <label>{{ 'CALCULATORS.COMMON.INTEREST_RATE' | translate }}</label>
      <div class="input-slider-container">
        <div class="input-display">{{ interestRatePercent }}%</div>
        <input
          class="range-slider"
          type="range"
          [min]="minRate"
          [max]="maxRate"
          step="1"
          [(ngModel)]="interestRatePercent"
          (input)="recalculate()"
          [style.--range-percent]="ratePercent"
        />
      </div>
      <div class="range-labels">
        <span>{{ minRate }}%</span>
        <span>{{ maxRate }}%</span>
      </div>
    </div>
  </div>

  <div class="result-wrapper">
    @if (calculationResult) {
       
      <div class="result-card">     
        <h2>{{ 'CALCULATORS.COMMON.YOUR_OFFER' | translate }}</h2>
<div class="result-item">
          <p>{{'CALCULATORS.COMMON.TYPE' | translate}}</p>
          <h3>
            {{'CALCULATORS.COMMON.DESCRIPTION'| translate}}
          </h3>
        </div>
        <div class="result-item">
          <p>{{ 'CALCULATORS.COMMON.INTEREST_RATE' | translate }}</p>
          <h3>{{ calculationResult.interestRate | percent: '1.2-2' }}</h3>
        </div>

        <div class="result-item">
          <p>{{ 'CALCULATORS.COMMON.MONTHLY_PAYMENT' | translate }}</p>
          <h3>
            @if (selectedCurrency === 'tjs') {
              {{ calculationResult.monthlyPayment | number: '1.2-2' : 'ru-RU' }} ТJS
            } @else {
              {{ calculationResult.monthlyPayment | currency: 'USD' : 'symbol' : '1.2-2' : 'ru-RU' }}
            }
          </h3>
        </div>

  

        @if (showApplyButton) {
          <button class="apply-button" [scrollTo]="'application-form'">
            {{ 'CALCULATORS.COMMON.APPLY_BUTTON' | translate }}
          </button>
        }
      </div>
    }
  </div>
</div>
