<div class="milli-card">
  <!-- Блок 1: Промо -->
  <div class="card-container">
    <div class="card-info">
      <h2 class="card-title">{{ cardData.title }}</h2>
      <p class="card-description">{{ cardData.description }}</p>
      <div class="card-buttons">
        <button class="btn-primary">{{ 'buttons.applyForCard' | translate }}</button>
      </div>
    </div>
    <div class="card-image">
      <img class="card" [src]="imageUrl + cardData.upload_file" [alt]="cardData.title"/>
    </div>
  </div>

  <!-- Блок 2: Преимущества -->
  <div class="features-container" [class]="{'type1': cardContent?.length%3==0, 'type2': cardContent?.length%2==0}">
    <div class="feature-card" *ngFor="let detail of cardContent">
      <div class="">
        <h3>{{ detail.title }}</h3>
        <p>{{ detail.description }}</p>
      </div>
      <img [src]="imageUrl + detail.upload_file" [alt]="detail.title" class="feature-icon">
    </div>
  </div>

  <!-- Блок 3: Тарифы и условия -->
  <div class="container">
    <h1>{{ 'common.tariffsAndConditions' | translate }}</h1>
    <div class="btnCards">
      <button (click)="selectTab('services')" [class.active]="selectedTab === 'services'">{{ 'cardDetails.tabs.services' | translate }}</button>
      <button (click)="selectTab('limits')" [class.active]="selectedTab === 'limits'">{{ 'cardDetails.tabs.limits' | translate }}</button>
      <button (click)="selectTab('operations')" [class.active]="selectedTab === 'operations'">{{ 'cardDetails.tabs.operations' | translate }}</button>
      <button (click)="selectTab('documents')" [class.active]="selectedTab === 'documents'">{{ 'cardDetails.tabs.documents' | translate }}</button>
    </div>
    
    <div *ngIf="selectedTab==='services'" class="content">
      <div class="info-container"><div class="info-box" *ngFor="let service of services"><div class="info-title-1">{{ service.name }}</div><div class="info-title">{{ service.title }}<div class="info-detail">{{ service.description }}</div></div></div></div>
    </div>

    <div *ngIf="selectedTab==='limits'" class="content">
      <div class="info-container">
        <div class="info-box-limits" *ngFor="let limit of limits">
          <div class="info-title-1">{{ limit.name }}</div>
          <div class="info-title"><div class="info-detail">{{ 'cardDetails.accounts.tjs' | translate }}</div>{{ limit.tjs }}</div>
          <div class="info-title"><div class="info-detail">{{ 'cardDetails.accounts.rub' | translate }}</div>{{ limit.rub }}</div>
          <div class="info-title"><div class="info-detail">{{ 'cardDetails.accounts.usd' | translate }}</div>{{ limit.usd }}</div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedTab==='operations'" class="content">
      <div class="info-container"><div class="info-box" *ngFor="let operation of operations"><div class="info-title=1">{{ operation.name }}</div><div class="info-title">{{ operation.title }}<div class="info-detail">{{ operation.description }}</div></div></div></div>
    </div>

    <div *ngIf="selectedTab==='documents'" class="content">
      <div class="info-container">
        <div class="info-box-documents" *ngFor="let document of documents">
          <a [href]="imageUrl+ document.upload_file" target="_blank"><img src="../../../assets/icons/pdficon.png" [alt]="'alt.pdfIcon' | translate"></a>
          <p class="info-title">{{ document.name }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Блок 4: Форма заявки -->
  <div class="application-form-container" #applicationForm>
    <h2 class="form-title">{{ 'cardDetails.applicationForm.title' | translate }}</h2>
    <p class="form-subtitle">{{ 'cardDetails.applicationForm.subtitle' | translate }}</p>
    <div class="form">
      <form (ngSubmit)="submitApplication()" #form="ngForm">
        <div class="form-group">
          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="error">{{ 'common.fieldIsRequired' | translate }}</div>
          <input type="text" id="phone" [placeholder]="'cardDetails.applicationForm.phonePlaceholder' | translate" class="form-control" required [(ngModel)]="model.phone" name="phone" #phone="ngModel">
        </div>
        <div class="form-group">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">{{ 'common.fieldIsRequired' | translate }}</div>
          <input type="text" id="name" [placeholder]="'cardDetails.applicationForm.namePlaceholder' | translate" class="form-control" required [(ngModel)]="model.client_name" name="name" #name="ngModel">
        </div>
        <div class="custom-dropdown">
          <div class="dropdown-selected"><div class="form-group"><div class="dropdown-selected form-control" (click)="toggleDropdown($event)">{{ officeName }}</div></div></div>
          <div class="dropdown-options" *ngIf="dropdownOpen"><div class="dropdown-option" *ngFor="let item of offices" (click)="selectOption($event, item)"><p>{{ item.name }}</p></div></div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn-primary" [disabled]="form.invalid">{{ 'buttons.applyForCard' | translate }}</button>
        </div>
      </form>
      <p class="form-disclaimer">{{ 'common.consent.prefix' | translate }} <a href="#">{{ 'common.consent.linkText' | translate }}</a>.</p>
    </div>
  </div>

  <!-- Блок 5: FAQ -->
  <div class="faq-container">
    <h2 class="faq-title">{{ 'common.faqTitle' | translate }}</h2>
    <div *ngFor="let faq of faqs; let i = index" class="faq-item">
      <div class="faq-question" (click)="toggleFaq(i)"><span>{{ faq.title }}</span><span class="faq-icon">{{ selectedFaqIndex === i ? '-' : '+' }}</span></div>
      <div *ngIf="selectedFaqIndex === i" class="faq-answer">{{ faq.description }}</div>
    </div>
  </div>
</div>