<div class="more-vacancy">
<div *ngIf="personalQuality">
  <div class="title">
    <div class="">
  <!-- <h2>{{ vacancy.title }}</h2> -->
  <div class="city-location">
    <img src="../../../assets/icons/Layer 2.svg" alt="Location icon">
  <!-- <p>{{ vacancy.city }}</p> -->
</div>
</div>
<div class="">
  <button>Откликнуться на вакансию</button>
</div>
</div>
<div class="">
 
    
    <div class="vacancy-details" > 
    <h4>Образование и квалификация:</h4>
    <ul>
      <li *ngFor="let education of education">{{ education.content }}</li>
    </ul>


  </div>

  <div  class="vacancy-details" >
    <h4>Опыт работы:</h4>
    <ul>
      <li *ngFor="let work of experience">{{ work.content }}</li>
    </ul>
  </div>

  <div  class="vacancy-details" >
    <h4>Навыки и знания:</h4>
    <ul>
      <li *ngFor="let skill of skill">{{ skill.content }}</li>
    </ul>
  </div>
  <div  class="vacancy-details" >
    <h4>Личные качества:</h4>
    <ul>
      <li *ngFor="let quality of personalQuality">{{ quality.content }}</li>
    </ul>
  </div>

  <div  class="vacancy-details" >
    <h4>Условия:</h4>
    <ul>
      <li *ngFor="let condition of condition">{{condition.content }}</li>
    </ul>
  </div>
</div>
</div>



<form [formGroup]="applyForm" (ngSubmit)="onSubmit()">
  <h2>Откликнуться на вакансию</h2>
  <p>Расскажите нам о себе, и мы обязательно свяжемся с вами</p>

  <div class="form-row">
    <input formControlName="lastName" placeholder="Фамилия*" />
    <input formControlName="firstName" placeholder="Имя*" />
  </div>
  
  <div class="form-row">
    <input formControlName="phone" placeholder="Телефон*" />
    <input formControlName="email" placeholder="Email*" />
  </div>

  <!-- Зона перетаскивания файла -->
  <div class="file-drop-area"
       (drop)="onDrop($event)"
       (dragover)="onDragOver($event)"
       (dragleave)="onDragLeave($event)">
       <label >Перетащите или</label>
      <small>Поддерживаемые форматы: PDF, Doc, JPG (Max 5Mb)</small>
        <div>
    <input type="file" (change)="onFileSelected($event)" #fileInput hidden>
    <button type="button" (click)="fileInput.click()">Загрузите CV</button>
    <span *ngIf="fileName">{{ fileName }}</span>
  </div>

  </div>
  <button type="submit">Отправить</button>
</form>
<div *ngIf="isSubmitted" class="notification success-message">
  Данные успешно отправлены! Мы свяжемся с вами в ближайшее время.
</div>

<div *ngIf="isError" class="notification error-message animated">
  ❌ Произошла ошибка при отправке данных. Пожалуйста, попробуйте еще раз.
</div>
  
</div>
    