<div class="container_3">
    <div class="favri">
    <div class="">
        

        <h2>{{ "Favri mobile application"|translate}}</h2>
        <p>{{"Check your balance, pay for services, get help in chat 24/7"|translate}}</p>
        <div class="google">
            <img src="../../assets/icons/googleplay.svg" alt="">
            <img src="../../assets/icons/appstore.svg" alt="">
        </div>
    </div>
    <div class="phone">
        <img src="../../../assets/icons/favri.png" alt="">
    </div>
</div>
</div>
