<div class="container_3">
    <div class="favri">
        <div class="">
            <!-- Заголовок и подзаголовок заменены на ключи -->
            <h2>{{ 'favriApp.title' | translate }}</h2>
            <p>{{ 'favriApp.subtitle' | translate }}</p>
            
            <div class="google">
                <!-- Изображения обернуты в ссылки и добавлен alt-текст с ключами -->
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="../../assets/icons/googleplay.svg" [alt]="'alt.googlePlay' | translate">
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="../../assets/icons/appstore.svg" [alt]="'alt.appStore' | translate">
                </a>
            </div>
        </div>
        <div class="phone">
            <!-- Добавлен alt-текст с ключом для изображения телефона -->
            <img src="../../../assets/icons/favri.png" [alt]="'alt.favriAppMockup' | translate">
        </div>
    </div>
</div>