.calculator {
width: 90%;

 
    // padding: 20px;
background-color: hsl(210, 17%, 98%);
    margin:20px  0 0;
    padding: 2% 5%;
    
    // display: flex;
    // justify-content: space-between;
  
    .calculator-tabs {
      display: flex;
      gap: 2%;
      margin-bottom: 20px;
      flex-wrap: wrap;
    
      button {
        padding: 14px 42px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        background-color: white;
        color: #141A20;
        font-size: 18px;
        font-weight: 600;
        box-shadow: 0px 4px 20px 0px #AFAFAF2E;
  @media (max-width: 1024px) {
       margin-bottom: 15px; 
      }
        &.active {
          background-color: #00B06C;
          color: white;
        }
      }
    }
   }
  
  .calculator-content {
      display: flex;
      justify-content: space-between;
       gap: 5%;
       @media (max-width: 1000px) {
        flex-wrap: wrap;
        box-sizing: border-box;
       }
  
       .calculator-form {
        width: 55%;
        padding: 46px 62px;
        box-shadow: 0px 4px 20px 0px rgba(175, 175, 175, 0.18);
        border-radius: 16px;
        background-color: white;
        @media (max-width: 1024px) {
          width: 100%;
          margin-bottom: 30px;
        }
        h2 {
          font-size: 24px;
          font-weight: 800;
          margin-bottom: 30px;
        }
      
        label {
          margin: 25px 0;
          font-size: 20px;
          font-weight: 600;
        }
      
        .input-slider-container {
          position: relative;
          margin: 20px 0;
      
          /* Объединение инпута и слайдера */
          .loan-input {
            width: 100%;
            padding: 10px 12px;
            font-size: 18px;
            border: 1px solid #dde2e9;
            border-radius: 8px 8px 0 0;
            border-bottom: none;
            color: #333;
            font-weight: 600;
            box-sizing: border-box;
            margin: 0;
          }
      
          .loan-slider {
            width: 100%;
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
            height: 4px;
            background: linear-gradient(to right, #00B06C 0%, #00B06C var(--range-percent), #e0e6ee var(--range-percent), #e0e6ee 100%);
            border-radius: 0 0 8px 8px;
            border: 1px solid #dde2e9;
            border-top: none;
            outline: none;
            // padding: 0 12px;
          }
      
          .loan-slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            background: white;
            border: 2px solid #00B06C;
            border-radius: 50%;
            cursor: pointer;
          }
      
          .loan-slider::-moz-range-thumb {
            width: 20px;
            height: 20px;
            background: white;
            border: 2px solid #00B06C;
            border-radius: 50%;
            cursor: pointer;
          }
      
          .loan-slider::-ms-thumb {
            width: 20px;
            height: 20px;
            background: white;
            border: 2px solid #00B06C;
            border-radius: 50%;
            cursor: pointer;
          }
      
          .loan-slider::-webkit-slider-runnable-track {
            background: transparent;
          }
      
          .loan-slider::-moz-range-track {
            background: transparent;
          }
      
          .loan-slider::-ms-track {
            background: transparent;
          }
        }
      
        .range-labels {
          display: flex;
          justify-content: space-between;
          padding: 0 5px;
          margin-top: 10px;
          font-size: 16px;
          color: #66788F;
          @media (max-width: 768px) {
          display: none;
          }
        }
      
        .loan-terms {
          display: flex;
          gap: 10px;
          margin: 20px 0;
          flex-wrap: wrap;
      
          button {
            border: 1px solid #ddd;
            background: none;
            padding: 10px 16px;
            cursor: pointer;
            border-radius: 8px;
            background-color: #F1F5F9;
            color: #141A20;
            font-size: 18px;
            font-weight: 600;
      
            &.active {
              background-color: #00B06C;
              color: white;
            }
          }
        }
      }
      
  
    input.range {
      width: 100%;
      margin-top: 10px;
    }
  
    .range-labels {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
      margin-top: 10px;
    }
  p{
    color: #66788F;
    font-size: 16px;
    font-weight: 500;
  }
    input[type="text"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      margin-bottom: 20px;
    }
  
  }
  .calculator-result {
    @media (max-width: 1024px) {
      width: 100%;
      justify-self: center;
      padding: 46px 62px;
     
    }
width: 40%;
padding: 46px 62px;
box-shadow: 0px 4px 20px 0px rgba(175, 175, 175, 0.18);
border-radius: 16px;
background-color: white;
h2{
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 30px;        }
p{
  color: #141A20;
margin: 15px 0;
  font-size:20px ;
  font-weight: 600;
}
h3{
  font-weight: 800;
  font-size: 42px;
  line-height: 50px;
  color: #00B06C;
  margin-bottom: 20px;
}  
button {
      background-color: #00B06C;
      color: white;
      padding: 20px 50px;
      border: none;
      font-size: 18px;
      font-weight: 600;
      border-radius: 6px;
      cursor: pointer;
      @media (max-width: 1000px) {
        padding: 20px 35px;
        font-size: 16px;
        margin:0 10% ;
      }
    } 
  }
     
 
  