<div class="calculator">
  <div class="calculator-tabs">
    <button (click)="selectTab('credit')" [class.active]="selectedTab === 'credit'">
      {{ 'CALCULATOR.TABS.CREDIT' | translate }}
    </button>
    <button (click)="selectTab('deposit')" [class.active]="selectedTab === 'deposit'">
      {{ 'CALCULATOR.TABS.DEPOSIT' | translate }}
    </button>
    <button (click)="selectTab('car')" [class.active]="selectedTab === 'car'">
      {{ 'CALCULATOR.TABS.CAR_PURCHASE' | translate }}
    </button>
    <button (click)="selectTab('installment')" [class.active]="selectedTab === 'installment'">
      {{ 'CALCULATOR.TABS.RASSROCHKA' | translate }}
    </button>
  </div>
  

  @if(selectedTab === 'credit') {
    <div >
      <app-loan-calculator [conditionsData]="mainPageCalculatorData"></app-loan-calculator>
    </div>
  }
  
  @if(selectedTab === 'deposit') {
    <div>
      <app-deposit-calculator></app-deposit-calculator>
    </div>
  }
  @if(selectedTab === 'installment') {
    <div>
      <app-installment-calculate></app-installment-calculate>
    </div>
  }
  @if(selectedTab === 'car') {
    <div>
      <app-car-loan-calculate></app-car-loan-calculate>
    </div>
  }
</div>
