<div class="cards">
  <div class="card-container">
    <div class="card-info">
      <h2 class="card-title">{{ scsData.title }}</h2>
      <p class="card-description">
        {{ scsData.description }}
      </p>
      <div class="card-buttons">
        <button class="btn-primary">{{ 'BUTTONS.OPEN_DEPOSIT' | translate }}</button>
      </div>
    </div>
    <div class="card-image">
      <img class="transfers_img" [src]="imageUrl + scsData.upload_file" [alt]="scsData.title"/>
    </div>
  </div>

  <div class="container">
    <h2>{{ 'DEPOSIT_DETAILS.ADVANTAGES_TITLE' | translate }}</h2>
    <div class="advantages">
      <!-- Динамический контент -->
      @for(a of scsData.advantages; track a) {
        <div class="item" >
          <h3>{{a.title}}</h3>
          <p>{{a.description}}</p>
      </div>
      }
     
    </div>
  </div>

  <div class="faq-container">
    <h2 class="faq-title">{{ 'DEPOSIT_DETAILS.CONDITIONS_TITLE' | translate }}</h2>
    @for(faq of scsData.conditions; track $index) {
      <div  class="faq-item">
        <div class="faq-question" (click)="toggleFaq($index)">
          <!-- Динамический контент -->
          <span>{{ faq.title }}</span>
          <span class="faq-icon">{{ selectedFaqIndex === $index ? '-' : '+' }}</span>
        </div>
        @if(selectedFaqIndex === $index) {
          <div  class="faq-answer">
            <!-- Динамический контент -->
            @for(i of faq.items; track i) {
              <p >   {{ i.title }}</p>
            }
        </div>
        }
        
      </div>
    }
    
  </div>
</div>