<div class="main-container">
  <div class="header">
    <h1>{{ 'ABOUT_US.MAIN_TITLE' | translate }}</h1>
  </div>

  <div class="cards-container">
    <div class="card">
      <h2>{{ 'ABOUT_US.CARDS.MISSION.TITLE' | translate }}</h2>
      <p>{{ 'ABOUT_US.CARDS.MISSION.TEXT' | translate }}</p>
      <div class="icon">
        <img src="../../../assets/icons/career-growth-icon.png" [alt]="'ALT.MISSION_ICON' | translate" />
      </div>
    </div>

    <div class="card">
      <h2>{{ 'ABOUT_US.CARDS.GOAL.TITLE' | translate }}</h2>
      <p>{{ 'ABOUT_US.CARDS.GOAL.TEXT' | translate }}</p>
      <div class="icon">
        <img src="../../../assets/icons/partnership-deal-icon.png" [alt]="'ALT.GOAL_ICON' | translate" />
      </div>
    </div>

    <div class="card">
      <h2>{{ 'ABOUT_US.CARDS.VISION.TITLE' | translate }}</h2>
      <p>{{ 'ABOUT_US.CARDS.VISION.TEXT' | translate }}</p>
      <div class="icon">
        <img src="../../../assets/icons/vision-telescope-icon.png" [alt]="'ALT.VISION_ICON' | translate" />
      </div>
    </div>
  </div>

  <div class="box1">
    <h1>{{ 'ABOUT_US.HISTORY.TITLE' | translate }}</h1>
    <div class="about">
      <div>
        <p>{{ 'ABOUT_US.HISTORY.P1' | translate }}</p>
        <p>{{ 'ABOUT_US.HISTORY.P2' | translate }}</p>
        <p>{{ 'ABOUT_US.HISTORY.P3' | translate }}</p>
      </div>
      <img src="../../../assets/icons/commerzbank-4.png" [alt]="'ALT.HISTORY_IMAGE_1' | translate" />
    </div>

    <div class="about">
      <img src="../../../assets/icons/commerzbank-7.png" [alt]="'ALT.HISTORY_IMAGE_2' | translate" />
      <div class="">
        <p>{{ 'ABOUT_US.HISTORY.P4' | translate }}</p>
        <p>{{ 'ABOUT_US.HISTORY.P5' | translate }}</p>
        <p>{{ 'ABOUT_US.HISTORY.P6' | translate }}</p>
      </div>
    </div>

    <div class="about">
      <div class="box2">
        <p>{{ 'ABOUT_US.HISTORY.P7' | translate }}</p>
        <p>{{ 'ABOUT_US.HISTORY.P8' | translate }}</p>
        <p>{{ 'ABOUT_US.HISTORY.P9' | translate }}</p>
      </div>
      <img src="../../../assets/icons/about-bank.png" [alt]="'ALT.HISTORY_IMAGE_3' | translate" />
    </div>
  </div>

  <app-news-box [cardBgColor]="'#ffffff'"></app-news-box>
</div>
<div class="line"></div>
