
.main-container {
  width: 90%;
  margin: 40px auto 0px;

  .header {
    text-align: start;
    margin-bottom: 40px;
    padding: 83px 53px;
    background-color: #00b06c;

    background-image: url(../../../assets/icons/backgraund-logo.png);
    background-position-x: right;
    background-repeat: no-repeat;
    border-radius: 42px;
    @media (max-width: 1024px) {
      padding: 41px 26px;
    }
    h1 {
      width: 90%;
      font-weight: 700;
      font-size: 56px;
      line-height: 61.6px;
      letter-spacing: -1%;
      color: #fff;
      @media (max-width: 1034px) {
        font-size: 38px;
      }
      @media (max-width: 768px) {
        font-size: 28px;
        line-height: 45px;
      }
    }
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    .card {
      border: 1px solid #e3e6ea;
      padding: 40px 30px;
      border-radius: 42px;
      flex: 1 1 30%;
      box-sizing: border-box;
      min-width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0%;
      }

      p {
        margin: 16px 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0%;
        color: var(--Neutral-Neutral-600, #666f8d);
      }

      .icon {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
        img {
          align-self: flex-end;
        }
      }
    }
  }

  .box1 {
    @media (max-width: 1024px) {
      margin-bottom: 30px;
    }
    h1 {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0%;
      color: #020617;
      padding: 39px 0 29px;
    }
    p {
      color: #666f8d;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0%;
      padding: 10px 0;
    }
    .about {
      display: flex;
      justify-content: space-between;
      gap: 28px;
      align-items: center;

      @media (max-width: 1234px) {
        flex-wrap: wrap;
        img {
          width: 80%;
          margin: auto;
        }
      }
      @media (max-width: 768px) {
        img {
          width: 100%;
        }
      }
    }
    .box2 {
      padding: 39px 0;
    }
  }
  .container_4 {
    .box1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      .p {
        display: flex;
        align-items: center;
        padding: 0%;
        gap: 5px;
      }
    }
    .box2 {
      display: flex;
      justify-content: space-between;
      gap: 38px;
      @media (max-width: 1034px) {
        flex-wrap: wrap;
      }

      div {
        padding: 20px 24px;
        background-color: #f6f7f8;
        border-radius: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          padding: 15px 0;
          color: #666f8d;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0%;
        }
        h1 {
          padding: 20px 0;
        }
        h3 {
          width: 90%;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }
}
.line {
  margin-top: 100px;

  padding: 1px 0;
}

@media screen and (max-width: 768px) {
  .header {
    h1 {
      font-size: 20px;
    }
  }
  .cards-container {
    flex-direction: column;
    gap: 15px;
  }

  .card {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 480px) {
  .header h1 {
    font-size: 18px;
  }

  .cards-container {
    gap: 10px;
  }

  .card {
    padding: 15px;
  }

  .card h2 {
    font-size: 18px;
  }

  .card p {
    font-size: 12px;
  }
}
