<div class="main-container">
  <div class="header">    
    <h1>{{ 'aboutUs.mainTitle' | translate }}</h1>
  </div>

  <div class="cards-container">
    <div class="card">
      <h2>{{ 'aboutUs.cards.mission.title' | translate }}</h2>
      <p>{{ 'aboutUs.cards.mission.text' | translate }}</p>
      <div class="icon"><img src="../../../assets/icons/Frame1.png" [alt]="'alt.missionIcon' | translate" /></div>
    </div>
    <div class="card">
      <h2>{{ 'aboutUs.cards.goal.title' | translate }}</h2>
      <p>{{ 'aboutUs.cards.goal.text' | translate }}</p>
      <div class="icon"><img src="../../../assets/icons/Frame2.png" [alt]="'alt.goalIcon' | translate" /></div>
    </div>
    <div class="card">
      <h2>{{ 'aboutUs.cards.vision.title' | translate }}</h2>
      <p>{{ 'aboutUs.cards.vision.text' | translate }}</p>
      <div class="icon"><img src="../../../assets/icons/Frame3.png" [alt]="'alt.visionIcon' | translate" /></div>
    </div>
  </div>

  <div class="box1">
    <h1>{{ 'aboutUs.history.title' | translate }}</h1>
    <div class="about">
      <div class="">
      <p>{{ 'aboutUs.history.p1' | translate }}</p>
      <p>{{ 'aboutUs.history.p2' | translate }}</p>
    </div>
      <img src="../../../assets/icons/Комерцбанк 4 1.png" [alt]="'alt.historyImage1' | translate">
    </div>
    <div class="box2">
      <p>{{ 'aboutUs.history.p3' | translate }}</p>
      <p>{{ 'aboutUs.history.p4' | translate }}</p>
    </div>
    <div class="about">
      <img src="../../../assets/icons/Комерцбанк 7 1.png" [alt]="'alt.historyImage2' | translate">
      <p>{{ 'aboutUs.history.p5' | translate }}</p>
    </div>
    <div class="box2">
      <p>{{ 'aboutUs.history.p6' | translate }}</p>
    </div>
    <div class="about">
      <div class="box2">
        <p>{{ 'aboutUs.history.p7' | translate }}</p>
        <p>{{ 'aboutUs.history.p8' | translate }}</p>
        <p>{{ 'aboutUs.history.p9' | translate }}</p>
      </div>
      <img src="../../../assets/icons/Комерцбанк 3 1.png" [alt]="'alt.historyImage3' | translate">
    </div>
  </div>

  <app-news-box></app-news-box>
</div>
<div class="line"></div>