<div class="main-container">
    <div class="header">    

      <h1>ОАО «Коммерцбанк Таджикистана» — один из самых надежных и динамично развивающихся банков страны</h1>

    </div>
  
    <div class="cards-container">
      <div class="card">
        <h2>Наша миссия</h2>
        <p>Мы обеспечиваем надежные, доступные и современные финансовые решения...</p>
        <div class="icon"><img src="../../../assets/icons/Frame1.png" alt="icon" /></div>
      </div>
  
      <div class="card">
        <h2>Наша цель</h2>
        <p>Наша цель — быть надежным партнером для каждого, кто стремится к финансовой стабильности...</p>
        <div class="icon"><img src="../../../assets/icons/Frame2.png" alt="icon" /></div>
      </div>
  
      <div class="card">
        <h2>Наше видение</h2>
        <p>Быть драйвером финансовых инноваций и надежным партнером для клиентов...</p>
        <div class="icon"><img src="../../../assets/icons/Frame3.png" alt="icon" /></div>
      </div>
    </div>

    <div class="box1">
      <h1>Наша история</h1>
      <div class="about">
        <p>Становление и развитие Открытого акционерного общества «Коммерцбанк Таджикистана», как универсальной кредитной организации, происходило в условиях многолетней деятельности в конкурентной среде на отечественном рынке банковских услуг.
         <br> Начало было положено в 2006 году, когда было образовано Общество с ограниченной ответственностью «Музаффарият», организовавшего банковскую деятельность в форме микрозаёмной организации на основании лицензии Национального банка Таджикистана за номером №001-2519 «А».
        <br>  С формированием своей клиентской базы, в условиях ощутимого спроса населения на предоставление более широкого спектра финансовых услуг, ООО «Музаффарият» в середине 2007 года произведя докапитализацию, расширил свою операционную деятельность, преобразовавшись в микрокредитную
           депозитную организацию. В этой связи, ООО МДО «Музаффарият» от Национального банка Таджикистана получил соответствующую лицензию за №0001-2519 «Б».</p>
     
     <img src="../../../assets/icons/Комерцбанк 4 1.png" alt="">
          </div>
          <div class="box2">
          <p>В мае 2016 года обновлённая команда ООО МДО «Музаффарият» провела ребрендинг, 
            переименовав кредитную организацию в ООО МДО «Фардо». Месяцем спустя была обновлена лицензия Национального банка 
            Таджикистана для осуществления банковских операций за номером БМТ №0000062.</p>
           <p>В октябре 2017 года кредитная организация, функционирующая 
            в форме общества с ограниченной ответственностью, преобразовалась
             в акционерное общество, пополнив за счет акционеров (нового акционера) уставный капитал до уровня, 
             позволяющего продолжить деятельность уже в статуте банка. МДО «Фардо» было преобразовано в ОАО «Коммерцбанк Таджикистана», 
              которому со стороны Национального банка Таджикистана была предоставлена лицензия за номером БМТ №0000085.</p>
    </div>
  <div class="about">
    <img src="../../../assets/icons/Комерцбанк 7 1.png" alt="">
    <p>Реализуемая стратегия развития Банка на ближайшую перспективу направлена на расширение сферы применения системы безналичных платежей, совершенствование технологической платформы и внедрение инновационных продуктов. К примеру, технологическая платформа «ФАВРИ» позволяет физическим и юридическим лицам пользоваться широким спектром банковских услуг дистанционно. Став участниками электронной коммерции, они получили возможность производить оплату за приобретаемые товары и услуги посредством QR-кода, а также осуществлять вне офиса Банка множество других операций.
    </p>
  </div>

  <div class="box2">
    <p>Новым и инновационным продуктом стало мобильное приложение «Фаври интикол», которое к настоящему времени не имеет аналога на финансовом рынке Таджикистана. Оно, являясь унифицированным дополнением к приложению «Сбербанк онлайн», не имеет ограничений по пользователям: держатели любых карт, выпущенных российскими банками, могут совершать по нему мгновенные денежные переводы в Республику Таджикистан. Разработка инновационного технологического решения стала возможной благодаря двустороннему проекту «Один шлюз – вся Россия», позволившему мобильному банкингу стать еще более функциональным, универсальным и удобным. Его уникальная новизна заключается в том, что им могут
       воспользоваться пользователи любых карт российской национальной платежной системы, а также международных платежных систем.</p>
  </div>

  <div class="about">
    <div class="box2">
      <p>С первых дней своего образования на рынке кредитных организаций, банк стремится предоставлять качественные и доступные финансовые услуги населению, поддерживая тем самым развитие малого и среднего бизнеса в регионах страны.</p>
      <p>Коммерцбанк как социально-активный банк на сегодняшний день шагает в ногу с инновационными технологиями, применяя во взаимоотношениях с клиентами стандартизированные процедуры доступа к микрофинансированию, что позволяет минимизировать возможные кредитные риски.</p>
      <p>На сегодняшний день на территории страны функционируют 63 Центров банковского обслуживания и 11 филиалов. В будущем планируется открытие новых Центров банковского обслуживания и филиалов, что сделает Банк еще более доступным на региональном уровне.</p>
    </div>
    <img src="../../../assets/icons/Комерцбанк 3 1.png" alt="">
  </div>
  </div>

  <div class="container_4">
    <div class="box1">
         <h1>Новости</h1>
         <div class="p">  
             <p>Все новости </p>
            <span><img src="../../../assets/icons/arrow_forward.svg" alt=""></span>
         </div>
      
    </div>
    <div class="box2">
        <div class="">    
         <h3>Международное рейтинговое агентство «Moody's Investors Service»</h3>
       <p>Полученная оценка является показателем стабильности и надежности банка, подтверждая </p>
       <h1></h1>
            <p>16 января 2025</p> 

     </div>
     <div class="">    
        <h3>Международное рейтинговое агентство «Moody's Investors Service»</h3>
      <p>Полученная оценка является показателем стабильности и надежности банка, подтверждая </p>
      <h1></h1>
           <p>16 января 2025</p> 

    </div>  <div class="">    
        <h3>Международное рейтинговое агентство «Moody's Investors Service»</h3>
      <p>Полученная оценка является показателем стабильности и надежности банка, подтверждая </p>
      <h1></h1>
           <p>16 января 2025</p> 

    </div>
   
    </div>
   
</div>
  </div>
   <div class="line"></div>
