.application-form-container {
    text-align: center;
    margin: 26px 0;
    .form-title {
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 10px;

      @media (max-width: 1024px) {
        font-size: 38px;
      }
      @media (max-width: 768px) {
        font-size: 34px;
      }
    }

    .form-subtitle {
      font-size: 20px;
      color: #141a20;
      margin-bottom: 20px;
    }

    .form {
      width: 100%;
      background-color: #fff;
      padding: 56px 0;
      border-radius: 24px;
      box-shadow: 0px 4px 20px rgba(175, 175, 175, 0.18);
      text-align: center;

      margin: 62px 0;
      .custom-dropdown {
        position: relative;
        width: 100%;

        .dropdown-selected {
          border-radius: 4px;
          // background-color: #ed3636;
          font-size: 16px;
          cursor: pointer;
          position: relative;
          display: flex;
          gap: 5px;
          align-items: center;
          // justify-content: center;
          z-index: 200;
        }
        .dropdown-selected::after {
          // content: "\2304"; /* Маленькая стрелка вниз */
          position: absolute;
          // right: 1px;
          top: 20%;
          transform: translateY(-50%);
          font-size: 16px;
          // color: #fff;
        }

        .dropdown-options {
          position: absolute;
          top: 105%;
          // left: 25%;
          width: 100%;

          background-color: #fff;
          border: 1px solid #cbd5e1;
          border-radius: 12px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
          z-index: 100;
          max-height: 240px; // 1. Устанавливаем максимальную высоту
          overflow-y: auto;
          &::-webkit-scrollbar {
            width: 6px;
          }
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: #aaa;
          }

          .dropdown-option {
            padding: 14px 18px;
            cursor: pointer;
            transition: background-color 0.2s;
            display: flex;
            justify-content: space-between;
            border-radius: 0 0 12px;
          }

          .dropdown-option:hover {
            background-color: #f1f1f1;
          }
        }
      }
      .form-group {
        width: 50%;
        @media (max-width: 1024px) {
          width: 70%;
        }
        @media (max-width: 768px) {
          width: 90%;
        }
        margin: auto;
        .form-control {
          width: 100%;
          padding: 20px 30px;
          box-sizing: border-box;
          border-radius: 6px;
          border: 1px solid #cbd5e1;
          font-size: 14px;
          background-color: #f8f9fa;
          margin-bottom: 20px;
          position: relative;
          z-index: 100;
        }

        .error {
          color: red;
          font-size: 12px;
          margin-top: 5px;
          text-align: left;
        }
      }

      .btn-primary {
        width: 100%;
        padding: 20px 30px;
        background-color: #00b06c;
        color: #fff;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
      }

      .form-disclaimer {
        width: 50%;
        @media (max-width: 1024px) {
          width: 70%;
        }
        @media (max-width: 768px) {
          width: 90%;
        }
        margin: auto;
        font-size: 18px;
        color: #475569;
        margin-top: 20px;
        font-weight: 500;
        text-align: left;

        a {
          color: #00b06c;
          text-decoration: none;
        }
      }
    }
  }
