<div class="info-page-container">
  <div class="section-1">
    <div class="box1">
      <h1>{{ 'ACQUIRING.TITLE' | translate }}</h1>
      <p>{{ 'ACQUIRING.SUBTITLE' | translate }}</p>
      <button [scrollTo]="'application-form'">{{ 'ACQUIRING.SUBMIT_BUTTON' | translate }}</button>
    </div>
    <div class="box2">
      <img src="../../../assets/icons/acquiring.png" alt="" />
    </div>
  </div>

  <div class="section-3">
    <h2 class="header">{{ 'ACQUIRING.ADVANTAGES.TITLE' | translate }}</h2>
    <div class="details-1">
      <div class="box1">
        <img src="../../../assets/icons/qr-code-icon.png" alt="" />
        <div class="">
          <h3>{{ 'ACQUIRING.ADVANTAGES.QR_CODE.TITLE' | translate }}</h3>
          <p>{{ 'ACQUIRING.ADVANTAGES.QR_CODE.DESCRIPTION' | translate }}</p>
        </div>
      </div>
      <div class="box1">
        <img src="../../../assets/icons/korti-milli-logo.png" alt="" />
        <div class="">
          <h3>{{ 'ACQUIRING.ADVANTAGES.KORTI_MILLI.TITLE' | translate }}</h3>
          <p>{{ 'ACQUIRING.ADVANTAGES.KORTI_MILLI.DESCRIPTION' | translate }}</p>
        </div>
      </div>
    </div>

    <h2 class="header">{{ 'ACQUIRING.WHY_US.TITLE' | translate }}</h2>
    <div class="details-2">
      <div class="box1">
        <img src="../../../assets/icons/calendar-3d.png" alt="" />
        <div class="">
          <h3>{{ 'ACQUIRING.WHY_US.FAST_PAYMENT.TITLE' | translate }}</h3>
          <p>{{ 'ACQUIRING.WHY_US.FAST_PAYMENT.DESCRIPTION' | translate }}</p>
        </div>
      </div>
      <div class="box1">
        <img src="../../../assets/icons/calculator-3d.png" alt="" />
        <div class="">
          <h3>{{ 'ACQUIRING.WHY_US.REDUCE_LOAD.TITLE' | translate }}</h3>
          <p>{{ 'ACQUIRING.WHY_US.REDUCE_LOAD.DESCRIPTION' | translate }}</p>
        </div>
      </div>
      <div class="box1">
        <img src="../../../assets/icons/support-24-7-3d.png" alt="" />
        <div class="">
          <h3>{{ 'ACQUIRING.WHY_US.ONLINE_MANAGEMENT.TITLE' | translate }}</h3>
          <p>{{ 'ACQUIRING.WHY_US.ONLINE_MANAGEMENT.DESCRIPTION' | translate }}</p>
        </div>
      </div>
    </div>

    <h2 class="header">{{ 'ACQUIRING.TARIFFS.TITLE' | translate }}</h2>

    <div class="btnCards">
      <button [ngClass]="{ active: selectedTab === 'all' }" (click)="selectTab('all')">
        {{ 'ACQUIRING.TARIFFS.TABS.RETAIL' | translate }}
      </button>
      <button [ngClass]="{ active: selectedTab === 'all1' }" (click)="selectTab('all1')">
        {{ 'ACQUIRING.TARIFFS.TABS.ONLINE_STORE' | translate }}
      </button>
      <button [ngClass]="{ active: selectedTab === 'all2' }" (click)="selectTab('all2')">
        {{ 'ACQUIRING.TARIFFS.TABS.COURIER' | translate }}
      </button>
    </div>

    @if (selectedTab === 'all') {
      <div class="content">
        <div class="info-container">
          <div class="info-box">
            <div class="info-title-1">{{ 'ACQUIRING.TARIFFS.RETAIL_INFO.CASH_SERVICE' | translate }}</div>
            <div class="info-title">
              {{ 'ACQUIRING.TARIFFS.RETAIL_INFO.DAYS' | translate }}
              <div class="info-detail"></div>
            </div>
          </div>
        </div>
        <div class="info-container">
          <div class="info-box">
            <div class="info-title-1">{{ 'ACQUIRING.TARIFFS.RETAIL_INFO.COMMISSION' | translate }}</div>
            <div class="info-title">
              {{ 'ACQUIRING.TARIFFS.RETAIL_INFO.FROM_PERCENT' | translate }}
              <div class="info-detail"></div>
            </div>
          </div>
        </div>
        <div class="info-container">
          <div class="info-box">
            <div class="info-title-1">{{ 'ACQUIRING.TARIFFS.RETAIL_INFO.WITHDRAWAL' | translate }}</div>
            <div class="info-title">
              {{ 'ACQUIRING.TARIFFS.RETAIL_INFO.ZERO_PERCENT' | translate }}
              <div class="info-detail"></div>
            </div>
          </div>
        </div>
      </div>
    }

    <h2 class="header">{{ 'ACQUIRING.CONDITIONS.TITLE' | translate }}</h2>
    <div class="details-3">
      <div class="box" *ngFor="let item of 'ACQUIRING.CONDITIONS.ITEMS' | translate">
        <img src="../../../assets/icons/check-circle.svg" alt="" />
        <p>{{ item }}</p>
      </div>
    </div>

    <h2 class="header">{{ 'ACQUIRING.DOCUMENTS.TITLE' | translate }}</h2>
    <div class="details-4">
      <div class="box1" *ngFor="let doc of 'ACQUIRING.DOCUMENTS.ITEMS' | translate; let i = index">
        <img src="../../../assets/icons/acquiring-icon-{{ i + 1 }}.png" alt="" />
        <div class="">
          <p>{{ doc }}</p>
        </div>
      </div>
    </div>
  </div>

  <app-simple-application-form id="application-form" [apiUrl]="acquiringApiUrl" [titleKey]="'FORMS.TITLES.ACQUIRING'">
  </app-simple-application-form>
</div>
