<div class="adress">
  <h1>Офисы, банкоматы и терминалы</h1>
  <div class="btnCards"> 
    <button [ngClass]="{'active': selectedTab === 'NaKarte'}" (click)="selectTab('NaKarte')">
    На карте
    </button>
    <button [ngClass]="{'active': selectedTab==='Spiskom'}" (click)="selectTab('Spiskom') ">
   Списком
    </button>
  </div>

 <div [hidden]="selectedTab !== 'NaKarte'">
  <div class="application-form-container">
    <div class="form">
      <!-- Выпадающий список фильтров -->
      <div class="custom-dropdown">
        <div class="dropdown-selected" (click)="toggleDropdown($event)">
          Фильтр
        </div>
        <div class="dropdown-options" *ngIf="dropdownOpen">
          <!-- Типы объектов -->
          <div class="dropdown-section">
            <h4>Типы объектов</h4>
            <div class="dropdown-option">
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  [checked]="allSelected"
                  (change)="onCheckboxChange('allSelected', $event)"
                />
                <span class="checkbox"></span>
                {{"all"|translate}}
              </label>
            </div>
             <div class="dropdown-option">
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  [checked]="officesSelected"
                  (change)="onCheckboxChange('officesSelected', $event)"
                />
                <span class="checkbox"></span>
                {{"offices"|translate}}
              </label>
            </div>
            <div class="dropdown-option">
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  [checked]="terminalsSelected"
                  (change)="onCheckboxChange('terminalsSelected', $event)"
                />
                <span class="checkbox"></span>
                {{"terminals"|translate}}
              </label>
            </div>
           
            <div class="dropdown-option">
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  [checked]="atmsSelected"
                  (change)="onCheckboxChange('atmsSelected', $event)"
                />
                <span class="checkbox"></span>
                {{"atm"|translate}}
              </label>
            </div>
          </div>
          <div class="divider"></div>
      
          <!-- Доступность -->
          <div class="dropdown-section">
            <h4>Доступность</h4>
            <div class="dropdown-option">
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  [checked]="is24Selected"
                  (change)="onCheckboxChange('is24Selected', $event)"
                />
                <span class="checkbox"></span>
                {{"24h"|translate}}
              </label>
            </div>
            <div class="dropdown-option">
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  [checked]="workingNowSelected"
                  (change)="onCheckboxChange('workingNowSelected', $event)"
                />
                <span class="checkbox"></span>
                {{"now"|translate}}
              </label>
            </div>
          </div>
          <div class="divider"></div>
      
          <!-- Дополнительно -->
          <div class="dropdown-section">
            <h4>Дополнительно</h4>
            <div class="dropdown-option">
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  [checked]="qrCodeSelected"
                  (change)="onCheckboxChange('qrCodeSelected', $event)"
                />
                <span class="checkbox"></span>
                {{"qr"|translate}}
              </label>
            </div>
            <div class="dropdown-option">
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  [checked]="nfcSelected"
                  (change)="onCheckboxChange('nfcSelected', $event)"
                />
                <span class="checkbox"></span>
                {{"nfc"|translate}}
              </label>
            </div>
          </div>
        </div>
      </div>
      
  
      <!-- Второй выпадающий список для региона -->
      <div class="custom-dropdown">
        <div class="dropdown-selected" (click)="toggleDropdown2($event)">
         {{regionSelectedName}}
        </div>
        <div class="dropdown-options" *ngIf="dropdownOpen2">
          <div class="dropdown-section">
            <div  class="dropdown-option">
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  [checked]="regionSelected==0"
                  (change)="onRegionChange(0)"
                />
                <span class="checkbox"></span>
                Все
              </label>
            </div>
            <div *ngFor="let option of regionList" class="dropdown-option">
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  [checked]="regionSelected==option.id"
                  (change)="onRegionChange(option)"
                />
                <span class="checkbox"></span>
                {{ option.name }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
    <!-- Карта -->
   
      <!-- <google-map [height]="'500px'" [width]="'100%'" [center]="center" [zoom]="zoom">
        <map-marker
          *ngFor="let marker of markers"
          [position]="marker.position"
          [label]="marker.label"
          (mapClick)="showInfo(marker.info)"
        ></map-marker>
      </google-map> -->

      <div class="map-container">
        <google-map
          height="500px"
          width="100%"
          [center]="center"
          [zoom]="zoom"
        >
        
          <map-marker
            *ngFor="let marker of markers"
            [position]="marker.position"
            [options]="{ icon: getMarkerIcon(marker.type) }"
          
            (mapClick)="showInfo(marker)"
          >
          </map-marker>
      
          <map-info-window
            *ngIf="activeMarker"
            [position]="activeMarker.position"
            (closeclick)="hideInfo()"
          >
            <div [innerHTML]="activeMarker.info">
            <p></p>
            </div>
          </map-info-window>
        </google-map> 
      </div>
    <!-- Часто задаваемые вопросы -->
    <div class="faq-container">
      <h2 class="faq-title">{{ "Frequently Asked Questions" | translate }}</h2>
      <div *ngFor="let faq of faqs; let i = index" class="faq-item">
        <div class="faq-question" (click)="toggleFaq(i)">
          <span>{{ faq.title }}</span>
          <span class="faq-icon">{{ selectedFaqIndex === i ? '-' : '+' }}</span>
        </div>
        <div *ngIf="selectedFaqIndex === i" class="faq-answer">
          {{ faq.description }}
        </div>
      </div>
    </div>
    </div>
  
    <!-- Список терминалов -->
    <div [hidden]="selectedTab !== 'Spiskom'">
  <app-office-list></app-office-list>
    </div>
  
</div>
