
@import '../../../styles/variables.scss';

.adress {
  background-color: #f6f7f8;
  padding: 20px 5%;

  h1 {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .btnCards {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    button {
      border-radius: 53px;
      padding: 14px 28px;
      background-color: white;
      border: none;
      cursor: pointer;
      color: #141a20;
      font-size: 17px;
      font-weight: 500;

      @media (max-width: 1024px) {
        padding: 10px 20px;
      }
      &.active {
        background-color: #00b06c;
        color: white;
      }
    }
  }

  .application-form-container {
    text-align: center;
    margin: 26px 0;

    .form {
      background-color: #fff;
      padding: 28px 40px;
      border-radius: 24px;
      box-shadow: 0px 4px 20px rgba(175, 175, 175, 0.18);
      text-align: center;
      display: flex;
      gap: 20px;
      margin: 62px 0;

      .custom-dropdown {
        position: relative;
        width: 30%;
        font-family: 'Inter', sans-serif;
        border: 1px solid #cbd5e1;
        background-color: #f1f5f9;
        border-radius: 6px;
        @media (max-width: 1024px) {
          width: 50%;
          .dropdown-selected {
            padding: 15px;
          }
        }
        .dropdown-selected {
          text-align: start;
          border-radius: 4px;
          font-size: 16px;
          padding: 20px;
          color: #64748b;
          cursor: pointer;
        }

        .dropdown-options {
          position: absolute;
          top: 110%;
          left: 0;
          width: 100%;
          padding: 20px 0;
          background-color: #fff;
          border: 1px solid #cbd5e1;
          border-radius: 12px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
          z-index: 100;
        }

        .dropdown-section {
          padding: 15px 35px;
          max-height: 200px; 
          overflow-y: auto; 
        }

        .dropdown-section::-webkit-scrollbar {
          width: 6px;
        }

        .dropdown-section::-webkit-scrollbar-thumb {
          background-color: #cbd5e1;
          border-radius: 4px;
        }

        .dropdown-section::-webkit-scrollbar-track {
          background: transparent;
        }

        .divider {
          width: 100%;
          height: 1px;
          background-color: #e3e6ea;
          margin: 10px 0;
        }

        .custom-checkbox {
          display: flex;
          align-items: center;
          cursor: pointer;
          position: relative;
          padding: 10px 0;
          input {
            opacity: 0;
            position: absolute;
          }
          .checkbox {
            width: 20px;
            height: 20px;
            border: 2px solid #bac0cc;
            border-radius: 4px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition:
              background-color 0.3s,
              border-color 0.3s;
          }
          input:checked + .checkbox {
            background-color: #00b06c;
            border-color: #00b06c;
            &::after {
              content: '\2713';
              color: white;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}


.map-layout-container {
  position: relative;
  display: flex;
  height: 70vh; 
  width: 100%;
  border-radius: 20px;
  overflow: hidden; 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  background-color: #f6f7f8;
  @media (max-width: 1024px) {
    height: 50vh;
  }
}

.info-sidebar {
  width: 380px; 
  max-width: 90%; 
  flex-shrink: 0; 
  background-color: #fff;
  padding: 24px;
  box-sizing: border-box;
  overflow-y: auto;

  position: absolute; 
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000; 
  transform: translateX(-100%);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  &.is-visible {
    transform: translateX(0);
    border-right: 1px solid #e0e0e0;
  }
}

.map-render-area {
  flex-grow: 1; 
  height: 100%;
  width: 100%;
}

.info-sidebar__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #f0f0f0;
  color: #888;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s;

  &:hover {
    background-color: #e0e0e0;
    color: #333;
  }
}

.info-sidebar__header {
  display: flex;
  align-items: normal;
  margin: 10px 0;
  gap: 4px;
  img {
    width: 32px;
    height: 32px;
  }
  h1 {
    width: 80%;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

.info-sidebar__status {
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: inline-block; 

  &.status--open {
    background-color: #e8f5e9;
    color: #388e3c;
  }

  &.status--closed {
    background-color: #ffebee;
    color: #d32f2f;
  }
}

.info-sidebar__section {
  margin-bottom: 25px;
}

.info-sidebar__label {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.info-sidebar__value {
  font-size: 16px;
  color: #333;
}
.info-sidebar__service-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: 15px;
    color: #333;
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;

    &:last-child {
      border-bottom: none;
    }
  }
}

.faq-container {
  padding: 20px 0;

  .faq-title {
    font-size: 32px;
    font-weight: 700;
    margin: 40px 0;
    text-align: start;
  }

  .faq-item {
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px 0px rgba(175, 175, 175, 0.18);
    padding: 39px 46px;
    background-color: #fff;
    text-align: start;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    gap: 20px;
    .faq-icon {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .faq-answer {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
  }
}
