<div class="container_4">
  <div class="box1">
    <h1>{{ 'NEWS.SECTION_TITLE' | translate }}</h1>
    <div class="p" [routerLinkActiveOptions]="{ exact: true }" routerLink="/news" routerLinkActive="active">
      <p>{{ 'LINKS.ALL_NEWS' | translate }}</p>
      <span><img src="../../../assets/icons/arrow_forward.svg" [alt]="'ALT.ARROW_FORWARD' | translate" /></span>
    </div>
  </div>
  @if (news.length > 0) {
    <div class="box2">
      @for (new of news; track $index) {
        <a
          [routerLink]="['/news', new.id]"
          class="news-item-card"
          [style.background-color]="cardBgColor"
          tabindex="0"
          role="link"
        >
          <h3>{{ new.title }}</h3>
          <div class="description" [innerHTML]="new.shortDescription"></div>
          <p class="date">{{ new.date_time }}</p>
        </a>
      }
    </div>
  }
</div>
