
<div class="cards">

    <h1>Денежные переводы</h1>
    <div class="content">
        <!-- <div class="card-container" *ngFor="let card of cardList"> -->
            <div class="card-container" >
            <div class="card-image">
            <!-- <img class="card" [src]="'http://172.16.16.88:9009/storage/' + card.upload_file" [alt]="card.title" /> -->
            <img class="transfers_img" src="../../../assets/icons/western.png" alt="">
    
    
          </div>
          <div class="card-info">
            <h2 class="card-title">Western Union</h2>
            <p class="card-description">
                Получайте денежные переводы из более 200 стран мира. Перевод можно получить на счет мобильного банкинга "Фаври" и в офисах Банка.
            </p>
     
            <div class="card-buttons">
              <!-- <button class="btn-primary" (click)="navigateToCardDetailsAndForm(card.id)">{{"Apply for a card"|translate}}</button>
              <button  (click)="onCardClick(card.id)"   class="btn-secondary" [routerLink]="['/card-details',card.id]">{{"More details"|translate}}</button> -->
              <button class="btn-primary"  [routerLink]="['/transfers-details',1]" >{{"More details"|translate}}</button>

            </div>
          </div>
        
        </div>
      </div>
    
    </div>