<div class="cards">

    <!-- <div class="card-container" *ngFor="let card of cardList"> -->
        <div class="card-container" >   
              <div class="card-info">
        <h2 class="card-title">Western Union</h2>
        <p class="card-description">
            Получайте денежные переводы из более 200 стран мира. Перевод можно получить на счет мобильного банкинга "Фаври" и в офисах Банка.
        </p>
 
      
      </div>
        <div class="card-image">
        <!-- <img class="card" [src]="'http://172.16.16.88:9009/storage/' + card.upload_file" [alt]="card.title" /> -->
        <img class="transfers_img" src="../../../assets/icons/western.png" alt="">


      </div>
 
    

  </div>
  <div class="section2">
    <div class="box">
        <p>Время перевода</p>
        <h1>от 1 минуты</h1>
    </div>
    <div class="box">
        <p>Время перевода</p>
        <h1>от 1 минуты</h1>
    </div>
    <div class="box">
        <p>Время перевода</p>
        <h1>До 126 000 сомони 
            в день</h1>
    </div>
  </div>

  <div class="section3">
    <h1>Документы и тарифы</h1>
    <div class="section2">
        <div class="box">
                 <h2>Для получения:</h2>
            <p>Оригинал паспорта получателя;</p>
            <p>Код перевода;</p>
            <p>Ф. И. О. отправителя.</p>
       
        </div>
        <div class="box">
            <h2>Для получения:</h2>
       <p>Оригинал паспорта получателя;</p>
       <p>Код перевода;</p>
       <p>Ф. И. О. отправителя.</p>
  
   </div>
   <div class="box">
    <h2>Для получения:</h2>
<p>Оригинал паспорта получателя;</p>
<p>Код перевода;</p>
<p>Ф. И. О. отправителя.</p>

</div>
      </div>
  </div>
  
<div class="container_5"> 
    <div class="d">
      <div class="box" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  routerLink="/map" routerLinkActive="active">
          <div class="details">
              <h3>Подробная информация на сайте:</h3>
              <p>Western Union</p>
          </div>

      </div>

  </div>
    <div class="location">
      <h3>{{ "Offices and ATMs"|translate}}</h3>
      <p>{{"We are closer than you think"|translate}}</p>
      <div class="">
        
      </div>
      <button>{{"View on map"|translate}}</button>
  </div>
 
</div>
</div>
