<div class="info-page-container">
  <div class="section-1">
    <div class="box1">
      <h1>{{ 'INSURANCE_PAGE.TITLE' | translate }}</h1>
      <p>{{ 'INSURANCE_PAGE.DESCRIPTION_1' | translate }}</p>
    </div>
    <div class="box2">
      <img src="../../../assets/icons/СТРАХОВАНИЕ1.png" alt="{{ 'INSURANCE_PAGE.TITLE' | translate }}" />
    </div>
  </div>

  <div class="section-2">
    <div class="box1">
      <img src="../../../assets/icons/СТРАХОВАНИЕ.png" alt="{{ 'INSURANCE_PAGE.TITLE' | translate }}" />
    </div>
    <div class="box2">
      <p>{{ 'INSURANCE_PAGE.DESCRIPTION_2' | translate }}</p>
      <p>{{ 'INSURANCE_PAGE.DESCRIPTION_3' | translate }}</p>
      <p>{{ 'INSURANCE_PAGE.DESCRIPTION_4' | translate }}</p>
    </div>
  </div>

  <div class="section-3">
    <div class="left">
      <h2>{{ 'INSURANCE_PAGE.NO_COMPENSATION_TITLE' | translate }}</h2>
      <p *ngFor="let item of ('INSURANCE_PAGE.NO_COMPENSATION_LIST' | translate)">
        {{ item }}
      </p>
    </div>
    <div class="right">
      <h2>{{ 'INSURANCE_PAGE.COMPENSATION_TITLE' | translate }}</h2>
      <p>{{ 'INSURANCE_PAGE.COMPENSATION_TEXT' | translate }}</p>
      <p *ngFor="let detail of ('INSURANCE_PAGE.COMPENSATION_DETAILS' | translate)">
        {{ detail }}
      </p>
    </div>
  </div>

  <div class="section-4">
    <h2>{{ 'INSURANCE_PAGE.INFO_FOR_DEPOSITORS_TITLE' | translate }}</h2>
    <div class="box">
      <div class="detail">
        <img src="../../../assets/icons/1.svg" alt="" />
        <h3>{{ 'INSURANCE_PAGE.INFO_ITEMS.0.title' | translate }}</h3>
        <p>{{ 'INSURANCE_PAGE.INFO_ITEMS.0.text' | translate }}</p>
      </div>
      <div class="detail">
        <img src="../../../assets/icons/2.svg" alt="" />
        <h3>{{ 'INSURANCE_PAGE.INFO_ITEMS.1.title' | translate }}</h3>
        <p>{{ 'INSURANCE_PAGE.INFO_ITEMS.1.text' | translate }}</p>
      </div>
      <div class="detail">
        <img src="../../../assets/icons/3.svg" alt="" />
        <h3>{{ 'INSURANCE_PAGE.INFO_ITEMS.2.title' | translate }}</h3>
        <p>{{ 'INSURANCE_PAGE.INFO_ITEMS.2.text' | translate }}</p>
      </div>
      <div class="detail">
        <img src="../../../assets/icons/4.svg" alt="" />
        <h3>{{ 'INSURANCE_PAGE.INFO_ITEMS.3.title' | translate }}</h3>
        <p>{{ 'INSURANCE_PAGE.INFO_ITEMS.3.text' | translate }}</p>
      </div>
    </div>
  </div>
  

  <div class="contact-grid">
    <!-- Динамический контент, перевод не требуется -->
    @for (block of contactBlocks; track block.id) {
      <div class="contact-card">
        <div class="card-header">
          <h2>{{ block.title }}</h2>
          <img [src]="imageUrl + block.upload_file" [alt]="block.title" class="card-icon" />
        </div>
        <div class="card-body">
          @for (detail of block.data; track detail.id) {
            <div class="contact-item">
              @if (detail.upload_file) {
                <img [src]="imageUrl + detail.upload_file" [alt]="detail.title" class="item-icon" />
              }

              <div>
                <p class="item-title">{{ detail.title }}</p>
                <p class="item-description">{{ detail.Description }}</p>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
