<div class="info-page-container">
  <div class="header">
  <h1 class="main-title">{{ 'insurancePage.mainTitle' | translate }}</h1>
</div>
  <!-- Блок 1: "Что это такое?" -->
  <div class="info-section">
    <h2 class="section-title">{{ 'insurancePage.whatIsIt.title' | translate }}</h2>
    <div class="section-content">
      <p>{{ 'insurancePage.whatIsIt.p1' | translate }}</p>
      <p>{{ 'insurancePage.whatIsIt.p2' | translate }}</p>
      <p>{{ 'insurancePage.whatIsIt.p3' | translate }}</p>
    </div>
  </div>

  <!-- Блок 2: "Что не страхуется" -->
  <div class="info-section">
    <h2 class="section-title">{{ 'insurancePage.notCovered.title' | translate }}</h2>
    <div class="section-content">
      <ul class="styled-list">
        <li *ngFor="let item of 'insurancePage.notCovered.items' | translate">{{ item }}</li>
      </ul>
    </div>
  </div>
  
  <!-- Блок 3: "Страховое возмещение" -->
  <div class="info-section">
    <h2 class="section-title">{{ 'insurancePage.compensation.title' | translate }}</h2>
    <div class="section-content">
      <p>{{ 'insurancePage.compensation.p2' | translate }}</p>
      <ul class="styled-list">
        <li *ngFor="let item of 'insurancePage.compensation.limits' | translate">{{ item }}</li>
      </ul>
      <p>{{ 'insurancePage.compensation.p3' | translate }}</p>
    </div>
  </div>
  
  <!-- Блок 4: "Информация для вкладчиков" -->
  <div class="info-section">
    <h2 class="section-title">{{ 'insurancePage.forDepositors.title' | translate }}</h2>
    <div class="section-content">
      <!-- Итерируемся по слайдам, но показываем их как простые блоки -->
      <div *ngFor="let step of 'insurancePage.forDepositors.slides' | translate" class="step-item">
        <h4 class="step-title">{{ step.title }}</h4>
        <p class="step-content">{{ step.content }}</p>
      </div>
    </div>
  </div>
  



     <!-- Сетка с контактными блоками -->
     <div class="contact-grid">
      <!-- Динамический контент, перевод не требуется -->
      <div class="contact-card" *ngFor="let block of contactBlocks">
        <div class="card-header"> 
          <h2>{{ block.title }}</h2>
          <img [src]="imageUrl+block.upload_file" [alt]="block.title" class="card-icon" />
        </div>
        <div class="card-body">
          <div class="contact-item" *ngFor="let detail of block.data">
            <img *ngIf="detail.upload_file" [src]="imageUrl+detail.upload_file" [alt]="detail.title" class="item-icon" />
            <div>
              <p class="item-title">{{ detail.title }}</p>
              <p class="item-description">{{ detail.Description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>