<div class="info-page-container">
  <div class="section-1">
    <div class="box1">
      <h1>{{ 'INSURANCE_PAGE.TITLE' | translate }}</h1>
      <p>{{ 'INSURANCE_PAGE.DESCRIPTION_1' | translate }}</p>
    </div>
    <div class="box2">
      <img src="../../../assets/icons/Logo-new.svg" alt="{{ 'INSURANCE_PAGE.TITLE' | translate }}" />
    </div>
  </div>

  <div class="section-2">
    <div class="box1">
      <img src="../../../assets/icons/капилка.png" alt="{{ 'INSURANCE_PAGE.TITLE' | translate }}" />
    </div>
    <div class="box2">
      <p>{{ 'INSURANCE_PAGE.DESCRIPTION_2' | translate }}</p>
      <p>{{ 'INSURANCE_PAGE.DESCRIPTION_3' | translate }}</p>
      <p>{{ 'INSURANCE_PAGE.DESCRIPTION_4' | translate }} <span> <a href="https://dif.tj/">{{ 'INSURANCE_PAGE.FOND' | translate }}</a></span>:</p>
      <p>{{ 'INSURANCE_PAGE.DESCRIPTION_5' | translate }}</p>
      <ul>
        <li *ngFor="let item of 'INSURANCE_PAGE.DESCRIPTION_5_LIST' | translate">{{item}}</li>
      </ul>
    </div>
  </div>


  <div class="section-3">
    <div class="left">
      <div class="">
      <h2>{{ 'INSURANCE_PAGE.NO_COMPENSATION_TITLE' | translate }}</h2>
      <p *ngFor="let item of 'INSURANCE_PAGE.NO_COMPENSATION_LIST' | translate">
        {{ item }}
      </p>
    </div>
    <div class="document-card">
      <img src="../../../assets/icons/файл.png" [alt]="'ALT.FILE_ICON' | translate" class="pdf-icon" />
      <a href="../../../assets/files/Тасдикномаи_нави_Хазинаи_сугурта_оиди_узвияти_бонк.pdf" target="_blank" rel="noopener noreferrer" class="document-link">
       {{"INSURANCE_PAGE.CERTIFICATE" | translate }}
      </a>
    </div>
    </div>
    <div class="right">
        <div class="">
      <h2>{{ 'INSURANCE_PAGE.NO_COMPENSATION_TITLE_1' | translate }}</h2>
      <p *ngFor="let item of 'INSURANCE_PAGE.NO_COMPENSATION_LIST_1' | translate">
        {{ item }}
      </p>
    </div>
    <div class="">
      <h2>{{ 'INSURANCE_PAGE.COMPENSATION_TITLE' | translate }}</h2>
      <p>{{ 'INSURANCE_PAGE.COMPENSATION_TEXT' | translate }}</p>
      <p *ngFor="let detail of 'INSURANCE_PAGE.COMPENSATION_DETAILS' | translate">
        {{ detail }}
      </p>
      <p>{{'INSURANCE_PAGE.COMPENSATION_DETAILS_FOND' | translate}} <span> <a href="https://dif.tj/">{{ 'INSURANCE_PAGE.FOND' | translate }}</a></span>.</p>
    </div>
    </div>
  
  </div>
  <div class="buklet">
    <h2>{{ 'INSURANCE_PAGE.BUKLET_TITLE' | translate }}</h2>
    <img src="../../../assets/icons/BUKLET-08-10-2025-3u-1.jpg" alt="">
    <img src="../../../assets/icons/BUKLET-08-10-2025-22.jpg" alt="">
  </div>
  <div class="section-4">
    <h2>{{ 'INSURANCE_PAGE.INFO_FOR_DEPOSITORS_TITLE' | translate }}</h2>
    <div class="box">
      <div class="detail">
        <img src="../../../assets/icons/1.svg" alt="" />
        <h3>{{ 'INSURANCE_PAGE.INFO_ITEMS.0.title' | translate }}</h3>
        <p>{{ 'INSURANCE_PAGE.INFO_ITEMS.0.text' | translate }}</p>
      </div>
      <div class="detail">
        <img src="../../../assets/icons/2.svg" alt="" />
        <h3>{{ 'INSURANCE_PAGE.INFO_ITEMS.1.title' | translate }}</h3>
        <p>{{ 'INSURANCE_PAGE.INFO_ITEMS.1.text' | translate }}</p>
      </div>
      <div class="detail">
        <img src="../../../assets/icons/3.svg" alt="" />
        <h3>{{ 'INSURANCE_PAGE.INFO_ITEMS.2.title' | translate }}</h3>
        <p>{{ 'INSURANCE_PAGE.INFO_ITEMS.2.text' | translate }}</p>
      </div>
      <div class="detail">
        <img src="../../../assets/icons/4.svg" alt="" />
        <h3>{{ 'INSURANCE_PAGE.INFO_ITEMS.3.title' | translate }}</h3>
        <p>{{ 'INSURANCE_PAGE.INFO_ITEMS.3.text' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="contact-grid">
    @for (block of contactBlocks; track block.id) {
      <div class="contact-card">
        <div class="card-header">
          <h2>{{ block.title }}</h2>
          <img [src]="imageUrl + block.upload_file" [alt]="block.title" class="card-icon" />
        </div>
        <div class="card-body">
          @for (detail of block.data; track detail.id) {
            <div class="contact-item">
              @if (detail.upload_file) {
                <img [src]="imageUrl + detail.upload_file" [alt]="detail.title" class="item-icon" />
              }

              <div>
                <p class="item-title">{{ detail.title }}</p>
                <p class="item-description">{{ detail.Description }}</p>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
