/* You can add global styles to this file, and also import other style files */
body{
    max-width: 1500px;
    font-family: 'Inter', sans-serif;
    margin: 0 auto; /* Центрирование контейнера */
 color: #141A20;
} 
*{
    margin: 0%;
    padding: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
}