
body{
    max-width: 1500px;
    font-family: 'Inter', sans-serif;
    margin: 0 auto; /* Центрирование контейнера */
 color: #141A20;
} 
*{
    margin: 0%;
    padding: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
}
.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.6);
  }

//   @font-face {
//       font-family: "Inter";
//       src: url("assets/fonts/Inter/static/Inter_24pt-Regular.ttf") format("truetype");
//       font-weight: 400;
//       font-style: normal;
//       font-display: swap;
//   }

//   @font-face {
//       font-family: "Inter";
//       src: url("assets/fonts/Inter/static/Inter_18pt-Medium.ttf") format("truetype");
//       font-weight: 500;
//       font-style: normal;
//       font-display: swap;
//   }

//   @font-face {
//       font-family: "Inter";
//       src: url("assets/fonts/Inter/static/Inter_18pt-Bold.ttf") format("truetype");
//       font-weight: 700;
//       font-style: normal;
//       font-display: swap;
//   }