<!-- src/app/pages/merchant-list/merchant-list.component.html -->
<!-- Контейнер всей страницы для общих отступов и фона -->
<div class="page-container">

  <!-- Заголовок страницы -->
  <div class="page-header">
    <h1>{{ 'MERCHANTS_PAGE.TITLE' | translate }}</h1>
    <p>{{ 'MERCHANTS_PAGE.SUBTITLE' | translate }}</p>
  </div>

  <!-- Основной контент: фильтры + сетка -->
  <div class="content-wrapper">

    <!-- Блок с фильтрами (левая колонка) -->
    <div class="filters-panel">
      <div class="filter-controls">
        <p class="filters-title">{{ 'MERCHANTS_PAGE.FILTERS.TITLE' | translate }}</p>
        <input
          type="text"
          class="search-input"
          [placeholder]="'MERCHANTS_PAGE.FILTERS.SEARCH_PLACEHOLDER' | translate"
          [(ngModel)]="filterName"
          (keyup.enter)="onFilterChange()"
        />

        <select class="filter-select" [(ngModel)]="filterRegionId" (change)="onFilterChange()">
          <option [ngValue]="null">{{ 'MERCHANTS_PAGE.FILTERS.ALL_REGIONS' | translate }}</option>
          @for(region of regions; track region.id) {
            <option  [value]="region.id">{{ region.name }}</option>
          }
         
        </select>

        <select class="filter-select" [(ngModel)]="filterCategoryId" (change)="onFilterChange()">
          <option [ngValue]="null">{{ 'MERCHANTS_PAGE.FILTERS.ALL_CATEGORIES' | translate }}</option>
          @for(category of categories; track category.id)  {
            <option  [value]="category.id">{{ category.name }}</option>
          }
          
        </select>

        <div class="cashback-toggle">
          <label for="cashback">{{ 'MERCHANTS_PAGE.FILTERS.CASHBACKS' | translate }}</label>
          <label class="switch">
            <input
              type="checkbox"
              id="cashback"
              [(ngModel)]="filterHasCashback"
              (change)="onFilterChange()"
            />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>

    <!-- Сетка с карточками мерчантов (правая колонка) -->
    <div class="merchants-grid">
      @for(merchant of merchants; track merchant.id) {
        <div class="merchant-card" >
          <div class="card-logo-wrapper">
            <img [src]="imageUrl+merchant.upload_file" [alt]="merchant.name" class="card-logo" />
          </div>
          <h3 class="card-name">{{ merchant?.name }}</h3>
          <p class="card-phone">{{ merchant.phone }}</p>
          <p class="card-address">{{ merchant.address }}</p>
        </div>
      }
     
    </div>
  </div>
  
  <!-- Пагинация -->
  @if(totalPages >= 1) {
    <div class="pagination-container" >
      <button (click)="selectPage(1)" [disabled]="currentPage === 1" [title]="'common.pagination.firstPage' | translate">«</button>
      <button (click)="prevPage()" [disabled]="currentPage === 1" [title]="'common.pagination.previousPage' | translate">‹</button>
      @for(page of pages; track $index) {
        <button 
        [class.active]="page === currentPage"
        [disabled]="page === -1"
        (click)="selectPage(page)">
      {{ page === -1 ? '...' : page }}
      </button>
      }
     
    
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" [title]="'common.pagination.nextPage' | translate">›</button>
      <button (click)="selectPage(totalPages)" [disabled]="currentPage === totalPages" [title]="'common.pagination.lastPage' | translate">»</button>
    </div>
  }
 

  <app-simple-application-form 
  [apiUrl]="merchantApiUrl"
  [titleKey]="'FORMS.TITLES.MERCHANT'">
</app-simple-application-form>
</div>