
<div class="page-container">
  <div class="page-header card-white">
    <h1>{{ 'MERCHANTS_PAGE.TITLE' | translate }}</h1>
    <p>{{ 'MERCHANTS_PAGE.SUBTITLE' | translate }}</p>
  </div>

  <div class="content-wrapper">
    <aside class="filters-panel">
      <div class="filter-controls card-white">
        <p class="filters-title">{{ 'MERCHANTS_PAGE.FILTERS.TITLE' | translate }}</p>
        
  
        <input type="text" class="search-input" 
               [placeholder]="'MERCHANTS_PAGE.FILTERS.SEARCH_PLACEHOLDER' | translate"
               [(ngModel)]="filterName" (change)="onFilterChange()" 
               />

        <div class="custom-dropdown">
          <div class="dropdown-selected" (click)="toggleRegion($event)">
            {{ selectedRegionName || ('MERCHANTS_PAGE.FILTERS.ALL_REGIONS' | translate) }}
          </div>
          @if (regionOpen) {
            <div class="dropdown-options">
              <div class="dropdown-option" (click)="selectRegion(null)">
                {{ 'MERCHANTS_PAGE.FILTERS.ALL_REGIONS' | translate }}
              </div>
              @for (region of regions; track region.id) {
                <div class="dropdown-option" (click)="selectRegion(region)">{{ region.name }}</div>
              }
            </div>
          }
        </div>

        <div class="custom-dropdown">
          <div class="dropdown-selected" (click)="toggleCategory($event)">
            {{ selectedCategoryName || ('MERCHANTS_PAGE.FILTERS.ALL_CATEGORIES' | translate) }}
          </div>
          @if (categoryOpen) {
            <div class="dropdown-options">
              <div class="dropdown-option" (click)="selectCategory(null)">
                {{ 'MERCHANTS_PAGE.FILTERS.ALL_CATEGORIES' | translate }}
              </div>
              @for (category of categories; track category.id) {
                <div class="dropdown-option" (click)="selectCategory(category)">{{ category.name }}</div>
              }
            </div>
          }
        </div>

        <div class="cashback-toggle">
          <span>{{ 'MERCHANTS_PAGE.FILTERS.CASHBACKS' | translate }}</span>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="filterHasCashback" (change)="onFilterChange()" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </aside>

    <div class="merchants-grid">
      @for (merchant of merchants; track merchant.id) {
        <div class="merchant-card card-white">
          <div class="card-logo-wrapper">
            <img [src]="imageUrl + merchant.upload_file" [alt]="merchant.name" class="card-logo" />
          </div>
          <h3 class="card-name">{{ merchant?.name }}</h3>
          <p class="card-address">{{ merchant.address }}</p>
        </div>
      }
    </div>
  </div>

  @if (totalPages >= 1) {
    <div class="pagination-container">
      <button
        (click)="selectPage(1)"
        [disabled]="currentPage === 1"
        [title]="'COMMON.PAGINATION.FIRST_PAGE' | translate"
      >
        «
      </button>
      <button
        (click)="prevPage()"
        [disabled]="currentPage === 1"
        [title]="'COMMON.PAGINATION.PREVIOUS_PAGE' | translate"
      >
        ‹
      </button>
      @for (page of pages; track $index) {
        <button [class.active]="page === currentPage" [disabled]="page === -1" (click)="selectPage(page)">
          {{ page === -1 ? '...' : page }}
        </button>
      }

      <button
        (click)="nextPage()"
        [disabled]="currentPage === totalPages"
        [title]="'COMMON.PAGINATION.NEXT_PAGE' | translate"
      >
        ›
      </button>
      <button
        (click)="selectPage(totalPages)"
        [disabled]="currentPage === totalPages"
        [title]="'COMMON.PAGINATION.LAST_PAGE' | translate"
      >
        »
      </button>
    </div>
  }

  <app-simple-application-form [apiUrl]="merchantApiUrl" [titleKey]="'FORMS.TITLES.MERCHANT'">
  </app-simple-application-form>
</div>
