<div class="cards">
  <!-- Заголовок страницы -->
  <h1>{{ 'CARDS_PAGE.TITLE' | translate }}</h1>

  <div class="btnCards">
    <!-- Кнопка "Все" -->
    <button [ngClass]="{ active: selectedTab === 'all' }" (click)="selectTab('all')">
      {{ 'BUTTONS.ALL' | translate }}
    </button>

    <!-- Кнопки брендов -->
    <button
      *ngFor="let cBrand of cardBrands"
      [ngClass]="{ active: isBrandSelected(cBrand.id) }"
      (click)="selectBrand(cBrand.id); selectTab('brand')"
    >
      {{ cBrand.name | translate }}
    </button>
  </div>

  <div class="content">
    <div class="card-container" *ngFor="let card of cardList">
      <div class="card-info">
        <h2 class="card-title">{{ card.title }}</h2>
        <p class="card-description">{{ card.description }}</p>

        <div class="card-details">
          <div class="currency-info" *ngFor="let c of card.content">
            <p class="title">{{ c.title }}</p>
            <p class="description">{{ c.description }}</p>
          </div>
        </div>

        <div class="card-buttons">
          <button
            class="btn-primary"
            [routerLink]="['/cards', card.id]"
            [queryParams]="{ scrollTo: 'application-form' }"
          >
            {{ 'BUTTONS.APPLY_FOR_CARD' | translate }}
          </button>
          <button (click)="onCardClick(card.id)" class="btn-secondary" [routerLink]="['/cards', card.id]">
            {{ 'BUTTONS.MORE_DETAILS' | translate }}
          </button>
        </div>
      </div>

      <div class="card-image">
        <img class="card" [src]="imageUrl + card.upload_file" [alt]="card.title" />
      </div>
    </div>
  </div>
</div>
