.barakat{
    margin: none;
    padding:3% 5% ;
    background-color: #f8f9fa;

.card-container {
    position: relative;
             margin: 30px 0 0;
         box-shadow: 0px 4px 20px 0px rgba(175, 175, 175, 0.18);
        
         background-color: white;
         border-radius: 24px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 @media (max-width: 1024px) {
     display: block;
     padding: 29px 50px;
  }
     .card-info {
       width: 50%;
       padding: 32px 76px;
       @media (max-width: 1024px) {
         width: 100%;
         padding: 0;
      }
   
       .card-title {
         font-size: 30px;
         font-weight: bold;
         margin-bottom: 10px;
       }
   
       .card-description {
         font-size: 18px;
         color:  #475569;
         font-weight: 500;
         margin-bottom: 20px;
         line-height: 23px;
       }
   
       .card-details {
         display: flex;
         justify-content: space-between;
         margin: 45px 0;
         @media (max-width: 1024px) {
             display: block;
          }
         .currency-info,
         .service-info {
           width: 48%;
           @media (max-width: 1024px) {
             width: 100%;
          }
           .title {
             font-weight: 700;
             font-size: 24px;
             margin-bottom: 5px;
           }
   
           .description {
             color: #475569;
             font-size: 16px;
           }
         }
       }
   
   .card-buttons {
         display: flex;
         gap: 15px;
        margin-top: 25px;
        @media (max-width: 1024px) {
        display: block;
      }
      button{
         @media (max-width: 1024px) {
             width: 100%;
             margin-bottom: 30px;
           }
 
      }
         .btn-primary {
           background-color: #00B06C;
           color: #fff;
           border: none;
           padding: 19px 50px;
           border-radius: 5px;
           cursor: pointer;
           font-size: 14px;
         }
   
         .btn-secondary {
           background-color: transparent;
           color: #00B06C;
           border: none;
           padding: 19px 50px;
           cursor: pointer;
           font-size: 14px;
         }
       }
     }
   
     .card-image {
       width: 40%;
       padding: 0 72px;
       align-self: flex-end; 
       @media (max-width: 1024px) {
         width: 100%;
         padding: 0%;
       }
       img{
         width: 100%;
       }
     }
   }

 
   .container{
    h1{
   font-size: 42px;
   font-weight: 700;
 margin: 35px 0 25px;
 @media (max-width: 768px) {
   margin-top: 80px;
   font-size: 36px;
 }
}
   .btnCards{
   display: flex;
   gap: 15px;
   flex-wrap: wrap;
   button{
       border-radius: 53px;
       padding:14px 28px;
       background-color: white;
       border: none;
       cursor: pointer;

       color: #141A20;
       font-size: 17px;
       font-weight: 500;

       @media (max-width: 1024px) {
           padding:10px 20px;
        }
       &.active {
         background-color: #00B06C;
         color: white;
       }
       
   }
   
   }
   .info-container {
width: 100%;
box-sizing: border-box;
     padding: 20px 0;
     
   }
 
   .info-box,.info-box-limits,.info-box-documents{
     align-items: center;
     padding: 0px 30px;
     margin: 15px 0;
     height: 90px;
     @media (max-width: 1024px) {
       height: 130px;
     }
     background-color: #fff;
     border-radius: 12px;
     box-shadow: 0px 4px 20px rgba(175, 175, 175, 0.18);
   
     &:last-child {
       margin-bottom: 0;
     }

     .info-title {
       width: 100%;
       font-weight: 700;
       color: #141A20;
     font-size: 18px;
     @media (max-width: 768px) {
     width: 90%;
     font-size: 16px;
     }

     }
     .info-title-1{
        font-size: 18px;
        color: #475569;
        font-weight: 500;
     }
   
     .info-detail {
    width: 70%;
       color: #475569;
       font-size: 14px;
       flex-grow: 1;
     }
   }
     .info-box{
      display: grid;
     grid-template-columns: 1fr 1fr;
   }
       .info-box-limits{
         display: grid;
         grid-template-columns: 3fr 1fr 1fr 1fr;
        
     }
     .info-box-documents{
       display: flex;
       gap: 35px;
     }
    
   
 }

 .container-2{
    h1{
        font-size: 42px;
        font-weight: 700;
      margin: 35px 0 25px;
      @media (max-width: 768px) {
        margin-top: 80px;
        font-size: 36px;
      }

     }
     .box{
        display: flex;
        justify-content: space-between;
        // gap: 2%; 
         flex-wrap: wrap;
        .box-details{
            width: 23%;
            padding: 32px;
            background-color: white;
            border-radius: 12px;
         box-shadow: 0px 4px 20px 0px #AFAFAF2E;
             box-sizing:border-box; 
             @media (max-width: 768px) {
                width: 48%;
              margin: 3% 0;
                }
            p{
                font-size: 18px;
                color: #141A20;
                margin-top: 60px;
                font-weight: 500;
            }
        }
        .card{
          width: 32%;
          @media (max-width: 768px) {
            width: 100%;
          margin: 3% 0;
            }
        }
     }
 }

 .container-3{
    h1{
        font-size: 42px;
        font-weight: 700;
      margin: 35px 0 25px;
      @media (max-width: 768px) {
        margin-top: 80px;
        font-size: 36px;
      }

     }
 .calculator {

   
        margin:20px  0 0;
        padding: 2% 0;
  
      
        .calculator-tabs {
          display: flex;
          gap: 2%;
          margin-bottom: 20px;
          flex-wrap: wrap;
        
          button {
            padding: 14px 42px;
            border-radius: 50px;
            border: none;
            cursor: pointer;
            background-color: white;
            color: #141A20;
            font-size: 18px;
            font-weight: 600;
            box-shadow: 0px 4px 20px 0px #AFAFAF2E;
      @media (max-width: 1024px) {
           margin-bottom: 15px; 
          }
            &.active {
              background-color: #00B06C;
              color: white;
            }
          }
        }   .calculator-content {
          display: flex;
          justify-content: space-between;
           gap: 5%;
           @media (max-width: 1024px) {
            flex-wrap: wrap;
            box-sizing: border-box;
           }
      
           .calculator-form {
            width: 55%;
            padding: 46px 82px;
            box-shadow: 0px 4px 20px 0px rgba(175, 175, 175, 0.18);
            border-radius: 16px;
            background-color: white;
            @media (max-width: 1024px) {
              width: 100%;
              padding: 25px 50px;
              margin-bottom: 20px;
                          }
            .radio-group {
              display: flex;
              gap: 5%;
              align-items: center; // Align text and radio button
            }
            
            .custom-radio {
              position: relative;
              padding-left: 35px; // Space for the radio button
              cursor: pointer;
              user-select: none;
            
              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
              }
            
              .radio-btn {
                position: absolute;
                top: 0;
                left: 0;
                height: 28px; // Adjusted to your new size
                width: 28px; // Adjusted to your new size
                background-color: #fff; // White background
                border: 3px solid #ccc; // Gray border
                border-radius: 50%;
                transition: all 0.3s;
                box-sizing: border-box; // Includes border in width and height
            
                &:after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 16px; // Smaller than the outer circle
                  height: 16px; // Smaller than the outer circle
                  border-radius: 50%;
                  // background: green;
                  transition: opacity 0.3s;
                  opacity: 0; // Hidden initially
                }
              }
            
              input:checked ~ .radio-btn {
                border-width: 6px;
                border-color: #00B06C; // Green border on selected
            
                &:after {
                  opacity: 1; // Show the inner circle
                }
              }
            
              &:hover input ~ .radio-btn {
                border-color: darken(#00B06C, 10%); // Slightly darker green on hover
              }
            }
            

            h2 {
              font-size: 24px;
              font-weight: 800;
              margin-bottom: 30px;
            }
          
            label {
              margin: 45px 0;
              font-size: 18px;
              font-weight: 600;
              color: #141A20;
            }
          
            .input-slider-container {
              position: relative;
              margin: 20px 0 10px;
          
              /* Объединение инпута и слайдера */
              .loan-input {
                width: 100%;
                padding: 10px 12px;
                font-size: 18px;
                border: 1px solid #dde2e9;
                border-radius: 8px 8px 0 0;
                border-bottom: none;
                color: #333;
                font-weight: 600;
                box-sizing: border-box;
                margin: 0;
              }
          
              .loan-slider-auto {
                width: 100%;
                -webkit-appearance: none;
                appearance: none;
                margin: 0;
                height: 4px;
                background: linear-gradient(to right, #00B06C 0%, #00B06C var(--range-percent-auto), #e0e6ee var(--range-percent-auto), #e0e6ee 100%);
                border-radius: 0 0 8px 8px;
                border: 1px solid #dde2e9;
                border-top: none;
                outline: none;
            }
            
            /* Слайдер для Предоплата */
            .loan-slider-prepayment {
                width: 100%;
                -webkit-appearance: none;
                appearance: none;
                margin: 0;
                height: 4px;
                background: linear-gradient(to right, #00B06C 0%, #00B06C var(--range-percent-prepayment), #e0e6ee var(--range-percent-prepayment), #e0e6ee 100%);
                border-radius: 0 0 8px 8px;
                border: 1px solid #dde2e9;
                border-top: none;
                outline: none;
            }
            
            /* Стилизация бегунков для обоих слайдеров */
            .loan-slider-auto::-webkit-slider-thumb,
            .loan-slider-prepayment::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                background: white;
                border: 2px solid #00B06C;
                border-radius: 50%;
                cursor: pointer;
            }
            }
          
            .range-labels {
              display: flex;
              justify-content: space-between;
              padding: 0 5px;
              margin:0 0 30px 0; 
              font-size: 16px;
              color: #66788F;
              @media (max-width: 1024px) {
                display: none;
              }
            }
          
            .loan-terms {
              display: flex;
              gap: 10px;
              margin: 20px 0;
              flex-wrap: wrap;
          
              button {
                border: 1px solid #ddd;
                background: none;
                padding: 10px 16px;
                cursor: pointer;
                border-radius: 8px;
                background-color: #F1F5F9;
                color: #141A20;
                font-size: 18px;
                font-weight: 600;
          
                &.active {
                  background-color: #00B06C;
                  color: white;
                }
              }
            }
          }
          
      
        input.range {
          width: 100%;
          margin-top: 10px;
        }
      
        .range-labels {
          display: flex;
          justify-content: space-between;
          padding: 0 5px;
          margin-top: 10px;
        }
      p{
        color: #66788F;
        font-size: 16px;
        font-weight: 500;
      }
        input[type="text"] {
          width: 100%;
          padding: 10px;
          border: 1px solid #ddd;
          margin-bottom: 20px;
        }
   }
      .result{  
         width: 40%; 
          @media (max-width: 1024px) {
            width: 100%;
            justify-self: center;
        
          }
     
      .calculator-result {
        @media (max-width: 1024px) {
          padding: 20px 30px;
        }
      margin-bottom: 5%;
 
    padding: 46px 62px;
    box-shadow: 0px 4px 20px 0px rgba(175, 175, 175, 0.18);
    border-radius: 16px;
    background-color: white;
    h2{
      font-size: 24px;
      font-weight: 800;
      margin-bottom: 30px;        }
    p{
      color: #141A20;
    margin: 15px 0;
      font-size:20px ;
      font-weight: 600;
    }
    h3{
      font-weight: 800;
      font-size: 42px;
      line-height: 50px;
      color: #00B06C;
      margin-bottom: 20px;
    } 
    .info{
        display: flex;
        gap: 3%;
        align-items: start;
          h4{
            padding: 0%;
        color: #66788F;
        font-size: 18px;
        font-weight: 500;
    }  
    } 

    button {
          background-color: #00B06C;
          color: white;
          padding: 20px 50px;
          border: none;
          font-size: 18px;
          font-weight: 600;
          border-radius: 6px;
          cursor: pointer;
          @media (max-width: 1000px) {
            padding: 10px 30px;
            font-size: 14px;
            margin:0 10% ;
          }
        } 
      }

       }
    }
    }

    .container-4{
      h1{
        font-size: 42px;
        font-weight: 700;
      margin: 35px 0 25px;
      @media (max-width: 768px) {
        margin-top: 80px;
        font-size: 36px;
      }

     }
     .box{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      
      .box-details{
        width: 32%;
        padding: 32px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 26px;
        border-radius: 16px;
        box-shadow: 0px 4px 20px 0px #AFAFAF2E;
         box-sizing:border-box; 
      @media (max-width: 1024px) {
          width: 48%;
          margin: 3% 0;
        
            }
            @media (max-width: 768px) {
              width: 100%;
              margin: 3% 0;
            
                }


        p{
            font-size: 18px;
            color: #141A20;
            // margin-top: 60px;
            font-weight: 500;
        } 
      }
     }
    }
    .container-5{
      h1{
        font-size: 42px;
        font-weight: 700;
      margin: 35px 0 25px;
      @media (max-width: 768px) {
        margin-top: 80px;
        font-size: 36px;
      }
      }
      .contact{
          background-color: white;
      // padding: 60px;
      border-radius: 24px;
      margin: 3% 0; 
      .custom-form {
         width: 43%;
         margin: auto;
        padding:60px 0 ;
        @media (max-width: 1024px) {
          width: 100%;
          padding: 25px 50px;
          margin-bottom: 20px;
          box-sizing: border-box;
                      }
          .form-group {
            margin-bottom: 15px;
            position: relative;
        
            input[type="text"], select {
              width: 100%;
              padding: 18px;
              border: 1px solid #CBD5E1;
              border-radius: 6px;
              font-size: 14px;
              background-color: #F1F5F9; // Задний фон полей ввода
              box-sizing: border-box;
              color: #000;
              &:focus {
                  outline: none;  // Удаляем стандартное выделение
                  border: none;   // Удаляем бордер при фокусе
                }
            }
        
            input::placeholder {
              color: #64748B;
            }
        
            .required-input::placeholder {
              position: relative;
              font-weight: 400;
              color: #64748B;
            }
            .select-wrapper select {
              appearance: none; /* Отключаем встроенные стили браузера */
              -webkit-appearance: none; /* Для Safari */
              -moz-appearance: none; /* Для Firefox */
              border: 0;
              width: 100%;
              padding: 19px; /* Устанавливаем padding */
              border: 1px solid #CBD5E1;
              border-radius: 6px;
              font-size: 14px;
              color: #64748b; /* Цвет текста */
              background-color: #F1F5F9; /* Фон */
              box-sizing: border-box;
              option{
                  padding: 8px 15px ;
                  font-size: 16px;
                  border: 0;
              }
            }
            
            .select-wrapper {
              position: relative;
            }
            
            .select-wrapper .icon {
              position: absolute;
              top: 50%;
              right: 10px;
              transform: translateY(-50%);
              pointer-events: none;
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              color: #666;
              font-size: 16px;
            }
            
        
            .required-input {
        
              &::placeholder {
                color: #64748B; // Основной цвет текста в placeholder
              }
            }
        
            .required {
              color: red; // Красная звездочка
            }
        
            .select-wrapper {
              position: relative;
        
             
        
              .icon {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                pointer-events: none;
                color: #666;
                font-size: 16px;
              }
            }
          }
        
          .submit-button {
            background-color: #00B06C;
            color: white;
            border: none;
            padding: 19px 50px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            text-align: center;
        
            &:hover {
              background-color: #218838;
            }
          }
          p{
            color: #66788F;
            font-size: 16px;
            padding: 25px 0 0;
            font-weight: 500;
            span{
              color: #00B06C;
              text-decoration:underline;
            }
          }
        }
      }
   
    }
}