<div class="calculator-wrapper">
  <!-- Левая колонка -->
  <div class="calculator-form">
    <h2>{{ 'CALCULATORS.DEPOSIT.TITLE' | translate }}</h2>

    <!-- Выбор продукта (если калькулятор на главной странице) -->
    @if(!productId) {
      <div class="form-group" >
        <label>{{ 'CALCULATORS.DEPOSIT.PRODUCT' | translate }}</label>
        <div class="custom-dropdown">
          <div class="dropdown-selected form-control" (click)="toggleDropdown()">
            {{ productName | translate }}
          </div>
          @if(dropdownOpen) {
            <div class="dropdown-options" >
              @for(key of productKeys; track $index) {
                <div class="dropdown-option"  (click)="selectProduct(key)">
                  <p>{{ productsData[key].name | translate }}</p>
                </div>
              }
            </div>
          }
        </div>
      </div>
    }
    

    <!-- Переключатель валют -->
    <div class="currency-tabs">
      @for(currency of availableCurrencies; track $index) {
        <button 
              (click)="selectCurrency(currency)"
              [class.active]="selectedCurrency === currency">
        {{ currency.toUpperCase() }}
      </button>
      }
      
    </div>

    <fieldset [disabled]="!isProductAvailable" style="border: none">
      <!-- Сумма вклада -->
      <div class="form-group">
        <label for="depositAmountInput">{{ 'CALCULATORS.DEPOSIT.AMOUNT' | translate }}</label>
        <div class="input-slider-container">
          @if(!isEditingAmount) {
            <div  class="input-display display-value" (click)="startEditing()">
              {{ depositAmount | number:'1.0-0':'ru-RU' }}
            </div>
          }
          @if(isEditingAmount) {
            <input type="number" class="loan-input edit-input"
            [(ngModel)]="depositAmount" 
            (blur)="stopEditing()"
            (keydown.enter)="stopEditing()"
            autofocus>
          }
       
          <input class="range-slider" type="range"
                 [min]="minAmount" [max]="maxAmount" [step]="stepAmount"
                 [(ngModel)]="depositAmount" (input)="recalculate()"
                 [style.--range-percent]="depositAmountPercent">
        </div>
        <div class="range-labels">
          @for(label of amountLabels; track $index) {
            <span >{{ label }}</span>
          }
         
        </div>
      </div>

      <!-- Срок вклада -->
      <div class="form-group">
        <label for="depositTermSlider">{{ 'CALCULATORS.DEPOSIT.TERM' | translate }}</label>
        <div class="input-slider-container">
          <div
            class="input-display"
            aria-live="polite"
            [attr.aria-label]="'Текущий срок вклада: ' + depositTerm + ' месяцев'"
          >
            {{ depositTerm }} {{ 'CALCULATORS.COMMON.MONTHS' | translate }}
          </div>
          <input
            class="range-slider"
            type="range"
            id="depositTermSlider"
            [min]="minTerm"
            [max]="maxTerm"
            [step]="stepTerm"
            [(ngModel)]="depositTerm"
            (input)="recalculate()"
            [style.--range-percent]="depositTermPercent"
            [attr.aria-label]="'Ползунок срока вклада'"
          />
        </div>
        <div class="range-labels">
          @for(label of termLabels; track $index) {
            <span >{{ label }}</span>
          }
    
        </div>
      </div>
    </fieldset>

    <p class="disclaimer">{{ 'CALCULATORS.COMMON.DISCLAIMER' | translate }}</p>
  </div>

  <!-- Правая колонка -->
  <div class="result-wrapper">
    @if(calculationResult && !calculationResult.error) {
      <div class="result-card">
        <h2>{{ 'CALCULATORS.COMMON.YOUR_OFFER' | translate }}</h2>
        <div class="result-item">
          <p>{{ 'CALCULATORS.DEPOSIT.PRODUCT' | translate }}</p>
          <h3>{{ calculationResult.productName |translate }}</h3>
        </div>
        <div class="result-item">
          <p>{{ 'CALCULATORS.COMMON.INTEREST_RATE' | translate }}</p>
          <h3>{{ calculationResult.rate | percent:'1.0-2' }}</h3>
        </div>
        <div class="result-item">
          <p>{{ 'CALCULATORS.DEPOSIT.INCOME' | translate }}</p>
          <h3>{{ calculationResult.income | number:'1.0-0':'ru-RU' }} {{ selectedCurrency === 'TJS' ? ('CALCULATORS.COMMON.CURRENCY_SYMBOL.TJS' | translate) : ('CALCULATORS.COMMON.CURRENCY_SYMBOL.USD' | translate) }}</h3>
        </div>
        <div class="result-item">
          <p>{{ 'CALCULATORS.DEPOSIT.FINAL_AMOUNT' | translate }}</p>
          <h3>{{ calculationResult.totalAmount | number:'1.0-0':'ru-RU' }} {{ selectedCurrency === 'TJS' ? ('CALCULATORS.COMMON.CURRENCY_SYMBOL.TJS' | translate) : ('CALCULATORS.COMMON.CURRENCY_SYMBOL.USD' | translate) }}</h3>
        </div>
        <button class="apply-button" 
           [routerLink]="['/deposit-details', +selectedProductId]" [queryParams]="{ scrollTo: 'application-form' }">
          {{ 'CALCULATORS.COMMON.APPLY_BUTTON' | translate }}
        </button>
      </div>
    }
    @if(calculationResult?.error) {
      <div class="result-card" >
        <h2>{{ 'CALCULATORS.COMMON.ATTENTION' | translate }}</h2>
        <p class="error-message">{{ calculationResult?.error }}</p>
      </div>
    }
  </div>
</div>
